﻿.uiwidgetoverlay
{
    left: 0;
    position: absolute;
    top: 0;
    filter: alpha(opacity=20);
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: none;
	background: none repeat scroll 0 0 #000;
	opacity: 0.2;
}
.uidialog
{
    overflow: hidden;
    position: absolute;
    z-index: 1002;
    outline: 0px none;
    height: auto;
    width: auto;
    display: none;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    /*color: #333;*/
    background-color: #F3F3F3;
    border: solid 1px #AAA;
    left:0;
    top:0;
    min-width:100px;
}

.uidialog .uidialogtitlebar
{
    background-color: #E6E6E6;
    border-bottom: 1px solid #bbb;
    display: block;
    font-weight: bold;
    padding:4px 0;
    margin:0;
    width:100%;
}
.uidialog .uidialogtitlebar .udttbc {
    display: inline;
    float: right;
    margin-right:0.5em;
}
.uidialog .uidialogtitlebar span
{
   margin: 0 0.5em; 
   font-size:12px;
   white-space: nowrap;
   width:85%;
   display: inline-block;
   line-height:16px;
}
.uidialog .uidialogtitlebar .udttbc a{
    display:block;
    height:15px;
    width:15px;
    position: relative;
    margin:0;
    padding:0;
}
.uidialog .uidialogtitlebar .udttbc span {
    background: url("images/close_gray.gif");
    height: 15px;
    width: 15px;
    outline: medium none;
    position: absolute;
    right: 0;
    top: 0;
    margin:0;
}
.uidialog .uidialogcontent
{
    margin: 0.5em;
    width: auto;
    min-height: 94.8px;
    height: auto;
    display: block;
}
.uidialog .Buttons
{
    margin-right: 0.5em;
    margin-top: 0.25em;
    text-align: right;
}
.uidialog .Body, .uidialog .CommentBox
{
    font-size: inherit;
    width: 98%;
}
.uidialogtitlebar a, .uidialogtitlebar a:link, .uidialogtitlebar a:visited
{
    color: #3E62A6;
    display: inline-block;
    font-weight: normal;
    height: 15px;
    padding-right: 3px;
    text-decoration: underline;
}

.uidialog .progressbar {
	width: 235px;
	height: 145px;
	text-align:center;
	position:relative;
	background: url("images/loading_img.gif") no-repeat scroll 90px 30px transparent;
}
.uidialogprog div.uidialogcontent {
	margin:0;
	padding:0;
	background-color:rgb(115,115,115);
	border-radius: 10px;
	opacity:0.8;
}
.uidialogprog div.forie {
	background-image: url(images/loading_bg.png);
	background-color: transparent;
}
.uidialog .progressbarimg
{
    height: 1.5em;
    text-align: center;
    position: relative; 
    *top:-2px;
    display:inline;
    white-space: nowrap;
    overflow:visible;
    cursor:wait;
	top: 103px;
	color:#fff;
	font-weight:bold;
}
.uidialogprog {
    cursor: wait;
	border: 0 solid #FFF;
	margin:0;
	padding:0;
	background-color:transparent;
}
.uidialog .shadow
{
}
.dialogbtnzone
{
    height:14px;
    background:url("images/menubar_bg.gif") repeat-x center center;
    font:10px verdana;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dialogbtnzone .dialogbtn
{
    padding:0 18px;
    height:14px;
    line-height:14px;
    background:url("images/menubar_btnbg_off.gif") repeat-x center center;
    cursor:pointer;
    vertical-align: top;
    display:inline-block;
}
.dialogbtnzone .dialogbtn_hover
{
    background:url("images/menubar_btnbg_on.gif") repeat-x center center;
}
.findIco {
    background: url("images/mglass.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 11px;
    line-height: 16px;
    position: absolute;
    right: 1px;
    top: 8px;
    width: 10px;
}
.uidialog .alertdialog {
    display:none;
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
}
.uidialog .alertdialog .alertmsg {
    margin: 15px 0;
    overflow: auto;
    text-align: left;
    white-space:nowrap;
    min-height:20px;
    min-width:230px;
}
