/*util - panel*/
.rtq-panel
{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -120px;
    width: 240px;
    z-index: 99999;
    _zoom: 1;
}
.rtq-panel .hd
{
    _zoom: 1;
}
.rtq-panel .hd .hd-btn
{
    position: absolute;
    top: 0;
    right: 0;
    _right: 3px;
}
.rtq-panel .hd .hd-btn a
{
    height: 12px;
    width: 12px;
    float: right;
    margin: 4px;
    text-indent: -999em;
    cursor: pointer;
}
.rtq-panel .hd .hd-btn a.close
{
    background: url(../img/ico_sprite.gif) no-repeat 50% -44px; *background-position:2px -44px;}
.rtq-panel .hd .hd-btn a.max
{
    background: url(../img/ico_sprite.gif) no-repeat 50% -20px;
}
.rtq-panel .shadow
{
    width: 240px;
    height: 111px; *height:113px;position:absolute;top:0;background:#333;filter:alpha(opacity:20);opacity:0.2;z-index:1;}
.rtq-panel .container
{
    margin: 3px;
    background: #fff;
    border: 1px solid #999;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.rtq-panel h4
{
    padding: 4px;
    border-bottom: 1px solid #ddd;
    background: #eee;
}
.rtq-panel .ctn
{
}

/*util - alert - confirm - prompt*/
.rtq-a-c-p
{
    top: 20%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    display: none;
}
.rtq-a-c-p .shadow
{
    width: 300px;
    height: 111px; *height:113px;}
.rtq-a-c-p .ctn
{
    padding: 10px;
}
.rtq-a-c-p .btn-ctn
{
    padding: 10px 10px 0;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}
.rtq-a-c-p .act-btn
{
    width: 160px;
    _width: 170px;
    margin: 0 auto;
    height: 22px;
    overflow: hidden;
}
.rtq-a-c-p .act-btn a
{
    border: 1px solid #aaa;
    background: #eee;
    padding: 3px;
    display: block;
    margin: 0 5px;
    width: 60px;
    text-align: center;
    float: left;
    /*color: #333;*/
    text-decoration: none;
}
.rtq-a-c-p .act-btn a:hover
{
    border: 1px solid #666;
    background: #ccc;
}
.rtq-prompt
{
}
.rtq-prompt .name-ipt
{
    border: 1px solid #aaa;
    display: block;
    margin: 0 auto;
    width: 160px;
}
.rtq-confirm .ctn input
{
    position: absolute;
    left: -9999em;
}
.rtq-alert
{
}
.rtq-alert .act-btn
{
    width: 80px;
}
.rtq-msg .hd h4
{
    display: none;
}
.rtq-msg .hd .hd-btn
{
    top: 3px;
    right: 3px;
}
.rtq-msg .container
{
    border: 1px solid #ccc;
    background: #ffc;
}
.rtq-msg .container .ctn
{
    padding: 5px;
}
.rtq-msg .container h5
{
    font-weight: normal;
}

/*RTQ_DropDownList*/
.rtq-ddl
{
    background: #fff url(../img/ico_sprite.gif) 98% -65px no-repeat;
    border: 1px solid #aaa;
   /*color: #333;*/
    float: left;
    margin: 4px 0;
    cursor: pointer;
    list-style: none;
    width: 80px;
    height: 17px;
    position: relative;
}
.rtq-ddl *
{
    margin: 0;
    padding: 0;
}
.rtq-ddl-disable
{
    filter: alpha(opacity:50);
    opacity: 0.5;
}
.rtq-ddl .rtq-ddl-ipt
{
    cursor: pointer;
    border: 0;
    height: 13px; *height:12px;width:60px;margin:0;font-size:93%;padding:2px;word-break:keep-all;white-space:nowrap;}
.rtq-ddl .rtq-ddl-menu
{
    position: absolute;
    background: #fff;
    border: 1px solid #aaa;
    display: none;
    left: -1px;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
}
.rtq-ddl .rtq-ddl-menu li
{ *vertical-align:middle;*zoom:1;}
.rtq-ddl .rtq-ddl-menu li a
{
    display: block;
    padding: 3px;
    text-decoration: none;
   /*color: #333;*/
    zoom: 1;
    line-height: 1.2; *vertical-align:middle;*zoom:1;}
.rtq-ddl .rtq-ddl-menu li a:hover
{
    background: #ccc;
}
.rtq-ddl .rtq-ddl-menu li a.on
{
    background: #eee;
    font-weight: bold;
}

div.rtq-ddl-black
{
    margin: 0 0 7px 0;
    background: #363636 url(../img/ico_sprite.gif) 100% -1268px no-repeat;
    border: 1px solid #a5a5a5;
}
div.rtq-ddl-black .rtq-ddl-ipt
{
    color: #ececec;
    background: #363636;
}
div.rtq-ddl-black .rtq-ddl-menu
{
    margin: 0;
    background: #363636;
    border: 1px solid #a5a5a5;
    -moz-box-shadow: 1px 1px 5px #000;
}
div.rtq-ddl-black .rtq-ddl-menu li a
{
    color: #ececec;
}
div.rtq-ddl-black .rtq-ddl-menu li a.on
{
    background: #848484;
}
div.rtq-ddl-black .rtq-ddl-menu li a:hover
{
    background: #666;
}

/*slider*/
.rtq-slider
{
    position: absolute;
    float: left;
}
.rtq-slider .rtq-slider-mid
{
    background: url(../img/slider_handler_mid.png);
    display: block;
    position: absolute;
    height: 35px;
}
.rtq-slider-mid a
{
    float: left;
    height: 35px;
    left: 10%;
    position: relative;
    width: 80%;
    z-index: 300;
    cursor: move;
}
.rtq-slider .rtq-slider-handle
{
    border-top: 1px solid #666666;
    opacity: 0.5;
    filter: alpha(opacity:50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    background: url(../img/slider_handler.png);
    background-repeat: repeat-x;
    display: block;
    position: absolute;
    height: 35px;
    top: -1px;
    z-index: 300;
}
.rtq-slider .rtq-slider-left, .rtq-slider .rtq-slider-right
{
    cursor: w-resize;
    height: 35px;
    position: absolute;
    width: 7px;
    z-index: 500;
}
.rtq-slider .rtq-slider-left
{
    background: url(../img/ico_sprite.gif) no-repeat 0 -387px;
    right: 0;
}
.rtq-slider .rtq-slider-right
{
    background: url(../img/ico_sprite.gif) no-repeat 0 -458px;
    left: 0;
}

/*right click menu 091023*/
.rtrm-ot
{
    display: none;
    z-index: 3000;
    border: 1px solid #666;
    background: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
}
.rtrm-ot .rtrm-out
{
   /*color: #333;*/
    display: block;
    list-style: none;
    margin: 0;
    position: relative;
    zoom: 1;
    word-break: keep-all;
    white-space: nowrap;
}
.rtrm-ot .rtrm-out a
{
    display: block;
   /*color: #333;*/
    height: 17px;
    line-height: 14px;
    text-decoration: none;
    text-indent: 3px;
    zoom: 1;
}
.rtrm-ot .rtrm-out a:hover
{
    background-color: #eee;
}
.rtrm-ot .rtrm-out ul
{
    left: 100%;
    top: 0;
    background: #FFF;
    border: 1px solid #666;
    display: none;
    list-style: none;
    position: absolute;
    margin: 0 0 0 0;
    padding: 0;
    width: 100px;
}
.rtrm-ot li.over
{
    _vertical-align: middle;
}
.rtrm-ot li:hover ul, .rtrm-ot li.over ul
{
    display: block;
}
.rtrm-arrow
{
    background: url(http://im.morningstar.com/im/pm/farrow.gif) 112px center no-repeat;
}
.rtrm-ot .rtq-chkbox
{
    background: url(../img/ico_sprite.gif) 2px -171px no-repeat;
    padding-left: 16px;
}
.rtrm-ot .rtq-chkbox_off
{
    background: url(../img/ico_sprite.gif) 2px -199px no-repeat;
}
/*rtq-tabs*/
.rtq-tabs .rtq-tab-wrap
{
    position: relative;
    background: url(../img/bg_tab.gif) repeat-x 0 100%;
    height: 28px;
}
.rtq-tabs .rtq-tab-tablist
{
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    padding: 3px 0 0;
    z-index: 99;
}
.rtq-tabs .rtq-tab-tablist .rtq-ddl
{
    border: 0;
    background: transparent url(../img/ico_sprite.gif/ico_sprite.gif) no-repeat 7px -65px;
}
.rtq-tabs .rtq-tab-tablist .rtq-ddl-ipt
{
    display: none;
}
.rtq-tabs .rtq-tab-tablist .rtq-ddl-menu
{
    width: 100px;
    margin-left: -75px;
    overflow: hidden;
}
.rtq-tabs .rtq-tab-tablist .rtq-ddl-menu li
{
    display: block;
    width: 100%;
}
.rtq-tabs .rtq-tab-menus-wrap
{
    overflow: hidden;
    height: 28px; *position:relative;_width:96%;}
.rtq-tabs .rtq-tab-menus
{
    zoom: 1;
    padding: 4px 2px 0;
    height: 23px;
    margin: 0;
    width: 4000px;
}
.rtq-tabs .rtq-tab-menus:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.rtq-tabs .rtq-tab-menus .menu
{
    float: left;
}
.rtq-tabs .rtq-tab-menus li
{
    overflow: hidden;
    height: 24px;
    margin-bottom: -1px;
    padding: 0 0 0 2px;
    position: relative;
    min-width: 40px;
    max-width: 120px;
    _width: 80px;
}
.rtq-tabs .rtq-tab-menus li.over
{
    background: url(../img/bg_toolbar.gif) no-repeat 0 -401px;
}
.rtq-tabs .rtq-tab-menus li.on
{
    background: url(../img/bg_toolbar.gif) no-repeat 0 -401px;
    font-weight: bold;
}
.rtq-tabs .rtq-tab-menus li a
{
    cursor: pointer;
    display: block;
    padding: 0 10px;
    text-align: center;
}
.rtq-tabs .rtq-tab-menus li a span
{
    text-align: center;
    display: block;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    _width: 50%;
}
.rtq-tabs .rtq-tab-menus li a em
{
    position: absolute;
    top: 9px;
    right: 3px;
    height: 10px;
    width: 12px;
    overflow: hidden;
    text-indent: 999em;
    background: #fff url(../img/ico_sprite.gif) no-repeat 3px -47px;
    display: none;
    cursor: pointer;
}
.rtq-tabs .rtq-tab-menus li.on a
{
    padding: 0 15px 0 5px;
}
.rtq-tabs .rtq-tab-menus li.on em
{
    display: block;
}
.rtq-tabs .rtq-tab-menus li.on a, .rtq-tabs .rtq-tab-menus li.over a
{
    background: url(../img/bg_toolbar.gif) no-repeat 100% -401px;
}
.rtq-tabs .rtq-tab-menus li.noclose a
{
    padding: 0 10px;
}
.rtq-tabs .rtq-tab-menus li.noclose em
{
    display: none !important;
}
.rtq-tabs ul.rtq-tab-menus li.disabled
{
    background: none !important;
}
.rtq-tabs ul.rtq-tab-menus li.disabled a
{
    background: none !important;
    cursor: default;
}
.rtq-tabs ul.rtq-tab-menus li.disabled a span
{
    color: #999 !important;
}
.rtq-tabs .rtq-tab-panels .rtq-tab-panel
{
    display: none;
}
/*rtq-tabs Vertical*/
.rtq-tabs-v
{
    zoom: 1;
    background: #494949;
}
.rtq-tabs-v:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.rtq-tabs-v .rtq-tab-wrap
{
    float: left;
    width: 120px;
    height: auto;
    background: none;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus-wrap
{
    height: 200px;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus
{
    padding: 0;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li
{
    float: none;
    background: none;
    height: 16px;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li a
{
    background: none;
    padding: 0;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li span
{
    background: none;
    line-height: 16px;
    height: 16px;
    text-align: left;
    color: #fff;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li em
{
    display: none;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li.on
{
    background: #6D6D6D;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li.over
{
    background: #777;
}
.rtq-tabs-v .rtq-tab-panels
{
    background: #6D6D6D;
    float: left;
    width: 360px;
}
.rtq-tabs-v .rtq-tab-panels .rtq-tab-panel
{
    height: 200px;
}

/*custom scrollbar*/
.rtq-scrollpanel
{
    position: relative;
}
.rtq-scrollpanel-both
{
    background: url(../img/bg_scroll_joint.gif) no-repeat 100% 100%;
}
.rtq-scrollbar
{
    background: #e9e9e9;
    position: absolute;
    z-index: 1;
    display: none;
}
.rtq-scrollbar .rtq-scrollbar-up, .rtq-scrollbar .rtq-scrollbar-down
{
    position: absolute;
    background: #ddd;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    overflow: hidden;
    text-indent: -999em;
}
.rtq-scrollbar .rtq-scrollbar-up
{
}
.rtq-scrollbar .rtq-scrollbar-down
{
}
.rtq-scrollbar .rtq-scrollbar-bar
{
    background: #ddd;
    border: 1px solid #999;
    position: absolute;
}
/*override Scrollbar for QS*/
.rtq-scrollbar
{
    border: 1px solid #cacaca;
}
div.rtq-scrollbar-x
{
    border-bottom: 0;
    height: 11px;
    left: 0px;
    bottom: 0px;
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 0;
}
div.rtq-scrollbar-x .rtq-scrollbar-up, div.rtq-scrollbar-x .rtq-scrollbar-down
{
    top: 0;
    border: 0;
    width: 14px;
    height: 11px;
}
div.rtq-scrollbar-x .rtq-scrollbar-up
{
    left: 0;
    background: url(../img/bg_light_scroll_h.gif) no-repeat 0 -11px;
}
div.rtq-scrollbar-x .rtq-scrollbar-down
{
    right: 0;
    background: url(../img/bg_light_scroll_h.gif) no-repeat 0 -22px;
}
div.rtq-scrollbar-x .rtq-scrollbar-bar
{
    border: 0;
    height: 11px;
    left: 14px;
    top: 0;
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 -33px;
}
div.rtq-scrollbar-y
{
    border-right: 0;
    right: 0px;
    top: 0px;
    width: 11px;
    background: url(../img/bg_light_scroll_v.gif) repeat-y 0 0;
}
div.rtq-scrollbar-y .rtq-scrollbar-up, div.rtq-scrollbar-y .rtq-scrollbar-down
{
    left: 0;
    border: 0;
    width: 11px;
    height: 14px;
}
div.rtq-scrollbar-y .rtq-scrollbar-up
{
    top: 0;
    background: url(../img/bg_light_scroll_v.gif) no-repeat -11px 0;
}
div.rtq-scrollbar-y .rtq-scrollbar-down
{
    bottom: 0;
    background: url(../img/bg_light_scroll_v.gif) no-repeat -22px 0;
}
div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    width: 11px;
    left: 0;
    top: 14px;
    border: 0;
    background: url(../img/bg_light_scroll_v.gif) repeat-y -33px 0;
}

#layouthelper .rtq-scrollbar
{
    border: 1px solid #646464;
}
#layouthelper div.rtq-scrollbar-y
{
    background: url(../img/bg_dark_scroll_v.gif) repeat-y 0 0;
}
#layouthelper div.rtq-scrollbar-y .rtq-scrollbar-up
{
    background: url(../img/bg_dark_scroll_v.gif) no-repeat -11px 0;
}
#layouthelper div.rtq-scrollbar-y .rtq-scrollbar-down
{
    background: url(../img/bg_dark_scroll_v.gif) no-repeat -22px 0;
}
#layouthelper div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    background: url(../img/bg_dark_scroll_v.gif) repeat-y -33px 0;
}
.rtq-window-setpn-cht .rtq-scrollbar
{
    border: 1px solid #646464;
}
.rtq-window-setpn-cht div.rtq-scrollbar-y
{
    background: url(../img/bg_dark_scroll_v.gif) repeat-y 0 0;
}
.rtq-window-setpn-cht div.rtq-scrollbar-y .rtq-scrollbar-up
{
    background: url(../img/bg_dark_scroll_v.gif) no-repeat -11px 0;
}
.rtq-window-setpn-cht div.rtq-scrollbar-y .rtq-scrollbar-down
{
    background: url(../img/bg_dark_scroll_v.gif) no-repeat -22px 0;
}
.rtq-window-setpn-cht div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    background: url(../img/bg_dark_scroll_v.gif) repeat-y -33px 0;
}

/*windows panel*/
.rtq-win
{
    position: absolute;
    z-index: 100;
    zoom: 1;
}
.rtq-win .win-hd
{
    float: left;
    width: 100%;
    background: url(../img/bg_container_til.gif) 0 -1px repeat-x;
    cursor: move;
    height: 22px;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.rtq-win .win-hd h3
{
    display: block;
    float: left;
    margin: 4px;
    height: 14px;
    overflow: hidden;
}
.rtq-win .win-hd .win-operator
{
    float: right;
    margin: 5px 1px 0 0;
    z-index: 1111;
}
.rtq-win .win-hd .win-operator div
{
    float: left;
    margin: 0 3px;
    width: 11px;
    height: 11px;
    background: url(../img/ico_sprite.gif) 0 0 no-repeat;
    cursor: pointer;
}
.rtq-win .win-hd .win-operator div.max
{
    background-position: 0 -23px;
}
.rtq-win .win-hd .win-operator div.close
{
    background-position: 0 -45px;
}
.rtq-win .win-hd .win-operator div.restore
{
    background-position: 0 -704px;
}
.rtq-win .win-hd .win-operator div.setting
{
    background: none;
    width: 40px;
    line-height: 11px;
    font-size: 9px;
    color: #555;
}
.rtq-win .win-bd
{
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    zoom: 1;
}
.rtq-win .win-opacity
{
    background: #ccc;
    filter: alpha(opacity=60);
    opacity: 0.4;
}
.rtq-win .rtq-win-wrap
{
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #c4c4c4;
    background: #fff;
}
.rtq-win .win-line
{
    position: absolute;
    font-size: 0;
    line-height: 0;
    z-index: 101;
}
.rtq-win .win-north
{
    width: 100%;
    height: 2px;
    cursor: n-resize;
    left: 0;
    top: 0;
}
.rtq-win .win-south
{
    width: 100%;
    height: 4px;
    cursor: n-resize;
    left: 0;
    bottom: 0;
}
.rtq-win .win-west
{
    width: 4px;
    height: 100%;
    cursor: e-resize;
    left: -3px;
    top: 0;
}
.rtq-win .win-east
{
    width: 4px;
    height: 100%;
    cursor: e-resize;
    right: -3px;
    top: 0;
}
.rtq-win .win-conner
{
    width: 5px;
    height: 5px;
    position: absolute;
    background: url(../img/rc_sprite.gif) 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    z-index: 101;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.rtq-win .win-west-north
{
    cursor: nw-resize;
    left: -1px;
    top: -1px;
}
.rtq-win .win-east-north
{
    cursor: ne-resize;
    right: -1px;
    top: -1px;
    background-position: 0 -5px;
}
.rtq-win .win-east-south
{
    cursor: nw-resize;
    right: -1px;
    bottom: -1px;
    background-position: 0 -10px;
}
.rtq-win .win-west-south
{
    cursor: ne-resize;
    left: -1px;
    bottom: -1px;
    background-position: 0 -15px;
}
.rtq-win-shadow
{
    position: absolute;
    display: none;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_shadow.png', sizingMethod='scale');
}
.rtq-win-shadow .ws-wrap
{
    position: relative;
    width: 100%;
    height: 100%;
}
.rtq-win-shadow .ws-wrap .wins-conner
{
    width: 10px;
    height: 10px;
    position: absolute;
    background: url(../img/shadow2_sprite.png) 0 0 no-repeat;
    _background: none;
}
.rtq-win-shadow .ws-wrap .wins-west-north
{
    left: 0;
    top: 0;
    background-position: 0 0;
}
.rtq-win-shadow .ws-wrap .wins-east-north
{
    right: 0;
    top: 0;
    background-position: 0 -10px;
}
.rtq-win-shadow .ws-wrap .wins-east-south
{
    right: 0;
    bottom: -2px;
    background-position: 0 -20px;
}
.rtq-win-shadow .ws-wrap .wins-west-south
{
    left: 0;
    bottom: -2px;
    background-position: 0 -30px;
}
.rtq-win-shadow .ws-wrap .wins-south
{
    width: 100%;
    height: 10px;
    left: 10px;
    bottom: -3px;
    background: url(../img/shadow4_sprite.png) 0 0 repeat-x;
    position: absolute;
    _background: none;
}
.rtq-win-shadow .ws-wrap .wins-east
{
    width: 10px;
    height: 100%;
    right: -1px;
    top: 10px;
    background: url(../img/shadow3_sprite.png) 0 0 repeat-y;
    position: absolute;
    _background: none;
}
.rtq-win-shadow .ws-wrap .wins-west
{
    width: 10px;
    height: 100%;
    left: 0;
    top: 10px;
    background: url(../img/shadow5_sprite.png) 0 0 repeat-y;
    position: absolute;
    _background: none;
}
.rtq-win .win-bd .rtq-tabs .rtq-tab-wrap, .rtq-win .win-bd .rtq-wl .add-btn
{
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.rtq-win div.rtq-scrollbar-x
{
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 -44px;
}
.rtq-win div.rtq-scrollbar-x .rtq-scrollbar-up
{
    background: url(../img/bg_light_scroll_h.gif) no-repeat 0 -55px;
}
.rtq-win div.rtq-scrollbar-x .rtq-scrollbar-down
{
    background: url(../img/bg_light_scroll_h.gif) no-repeat 0 -66px;
}
.rtq-win div.rtq-scrollbar-x .rtq-scrollbar-bar
{
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 -77px;
}
.rtq-win div.rtq-scrollbar-y
{
    background: url(../img/bg_light_scroll_v.gif) repeat-y -44px 0;
}
.rtq-win div.rtq-scrollbar-y .rtq-scrollbar-up
{
    background: url(../img/bg_light_scroll_v.gif) no-repeat -55px 0;
}
.rtq-win div.rtq-scrollbar-y .rtq-scrollbar-down
{
    background: url(../img/bg_light_scroll_v.gif) no-repeat -66px 0;
}
.rtq-win div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    background: url(../img/bg_light_scroll_v.gif) repeat-y -77px 0;
}
.rtq-win-active .win-hd, .rtq-win-active .win-bd .rtq-tabs .rtq-tab-wrap, .rtq-win-active .win-bd .rtq-wl .add-btn, .rtq-win-active .win-conner
{
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.rtq-win-active .rtq-win-wrap
{
    border: 1px solid #9e9e9e;
}
.rtq-win-active div.rtq-scrollbar-x
{
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 0;
}
.rtq-win-active div.rtq-scrollbar-x .rtq-scrollbar-up
{
    background: url(../img/scrollpanel/bg_light_scroll_h.gif) no-repeat 0 -11px;
}
.rtq-win-active div.rtq-scrollbar-x .rtq-scrollbar-down
{
    background: url(../img/scrollpanel/bg_light_scroll_h.gif) no-repeat 0 -22px;
}
.rtq-win-active div.rtq-scrollbar-x .rtq-scrollbar-bar
{
    background: url(../img/scrollpanel/bg_light_scroll_h.gif) repeat-x 0 -33px;
}
.rtq-win-active div.rtq-scrollbar-y
{
    background: url(../img/scrollpanel/bg_light_scroll_v.gif) repeat-y 0 0;
}
.rtq-win-active div.rtq-scrollbar-y .rtq-scrollbar-up
{
    background: url(../img/bg_light_scroll_v.gif) no-repeat -11px 0;
}
.rtq-win-active div.rtq-scrollbar-y .rtq-scrollbar-down
{
    background: url(../img/bg_light_scroll_v.gif) no-repeat -22px 0;
}
.rtq-win-active div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    background: url(../img/bg_light_scroll_v.gif) repeat-y -33px 0;
}

/*DataGrid*/
.rtq-grid
{
    padding: 0;
    margin: 0;
    font-size: 11px;
    overflow: hidden;
    border: 1px solid #d7d7d7;
    position: relative;
}
.rtq-grid .rtq-grid-row-over
{
}
.rtq-grid .rtq-grid-row-alt
{
    background: #f8f8f8;
}
.rtq-grid .rtq-grid-cell
{
    float: left;
    overflow: hidden;
    width: 80px;
    height: 18px;
    border-right: 1px solid #ddd;
    cursor: default;
}
.rtq-grid .rtq-grid-cell-sa .rtq-grid-cell-ctn
{
    padding-right: 14px;
    background: url(../img/grid_sort_asc.gif) no-repeat 100% 8px;
}
.rtq-grid .rtq-grid-cell-sd .rtq-grid-cell-ctn
{
    padding-right: 14px;
    background: url(../img/grid_sort_desc.gif) no-repeat 100% 8px;
}
.rtq-grid .rtq-grid-cell-over
{
}
.rtq-grid .rtq-grid-row .rtq-grid-cell-del
{
    width: 20px;
}
.rtq-grid .rtq-grid-scroll
{
    overflow: hidden; *position:relative;}
.rtq-grid .rtq-grid-rzproxy
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    cursor: col-resize;
    border: 1px solid #333;
    border-width: 0 1px;
    background: #0084FF;
    opacity: 0.2;
    filter: alpha(opacity=20);
    height: 100%;
    display: none;
}
.rtq-grid .rtq-grid-csproxy
{
    position: absolute;
    top: 18px;
    right: 0;
    z-index: 9;
    border: 2px solid #666;
    color: #000;
    font-weight: bold;
    background: url(../img/bg_grid_header.gif) repeat-x 0 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 12px;
    padding: 3px 4px;
    display: none;
}
.rtq-grid .rtq-grid-citip
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    background: #666;
    width: 2px;
    height: 100%;
    display: none;
}
.rtq-grid .rtq-grid-group
{
}
.rtq-grid .rtq-grid-group .rtq-grid-group-til
{
    border-bottom: 1px solid #ccc;
    padding: 3px 3px;
    font-size: 93%;
    position: relative;
}
.rtq-grid .rtq-grid-group-hover
{
}
.rtq-grid .rtq-grid-group-drag
{
    background: #ddd;
}
.rtq-grid .rtq-grid-group-drag *
{
    opacity: 0.8;
    filter: alpha(opacity:80);
}
.rtq-grid .rtq-grid-group-drop .rtq-grid-group-til
{
    border-top: 1px solid #333;
}
.rtq-grid .rtq-grid-group .rtq-grid-group-tool-clp
{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 3px;
    height: 10px;
    width: 10px;
    text-indent: -999em;
    background: url(../img/ico_sprite.gif) no-repeat 0 -66px;
}
.rtq-grid .rtq-grid-group-clp a.rtq-grid-group-tool-clp
{
    background: url(../img/ico_sprite.gif) no-repeat 2px -90px;
}
.rtq-grid .rtq-grid-group-clp div.rtq-grid-group-bd
{
    display: none;
}
.rtq-grid .rtq-grid-cell-hide
{
    display: none;
}
.rtq-grid .rtq-grid-fxcols
{
    height: 100%;
    overflow: hidden;
    float: left;
}
/*DataGrid body*/
.rtq-grid .rtq-grid-bd
{
    zoom: 1;
    width: 3000px;
}
/*.rtq-grid .rtq-grid-bd:after
{
    content: '.';
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
	display:none;
}*/
.rtq-grid .rtq-grid-bd .rtq-grid-row
{
    border-color: #fff #eee #eee #fff;
	height:19px;
}
.rtq-grid .rtq-grid-bd .rtq-grid-row-over
{
    border: 1px dotted #ccc;
    background: #f3f3f3;
}
.rtq-grid div.rtq-grid-bd .rtq-grid-row-drop
{
    border-top: 1px solid #333;
    background: #fff;
}
.rtq-grid .rtq-grid-bd div.rtq-grid-row-selected
{
    background: #eee;
}
.rtq-grid .rtq-grid-bd div.rtq-grid-row-selected .rtq-grid-cell
{
    border-color: #eee;
}
.rtq-grid .rtq-grid-bd .rtq-grid-cell
{
    border-color: #f8f8f8;
}
.rtq-grid .rtq-grid-bd .rtq-grid-cell .rtq-grid-cell-ctn
{
}
.rtq-grid .rtq-grid-bd .rtq-grid-cell-del a
{
    background: url(../img/ico_sprite.gif) no-repeat 50% -44px;
    text-align: left;
    text-indent: -100px;
    overflow: hidden;
    width: 18px;
    display: block;
}
/*DataGrid header*/
.rtq-grid .rtq-grid-hd
{
    position: relative;
    cursor: default;
    overflow: hidden;
    background: url(../img/bg_grid_header.gif) repeat-x 0 0;
}
.rtq-grid .rtq-grid-hd .rtq-grid-row
{
    border: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    background: none;
    width: 3000px;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell
{
    height: 20px;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell .rtq-grid-cell-ctn
{
    cursor: default;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell-over
{
    background: url(../img/bg_grid_header_over.gif) repeat-x 0 0;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell-del .rtq-grid-cell-ctn
{
    visibility: hidden;
}
.rtq-grid .rtq-grid-hd .onsort
{
    background: #eee;
    color: #000;
    font-weight: bold;
}
.rtq-grid .rtq-grid-rzrow
{
    font-size:10px;
}
.rtq-grid .rtq-grid-rzrow .rtq-grid-cell
{
    position: relative;
}
.rtq-grid .rtq-grid-rzrow .rtq-grid-cell .rtq-grid-cell-ctn
{
    position: relative;
}
.rtq-grid .rtq-grid-rzrow .rtq-grid-rztg
{
    position: absolute;
    top: -2px;
    right: -1px;
    cursor: col-resize;
    width: 4px;
    height: 25px;
}
.rtq-grid .rtq-grid-rzrow .rtq-grid-cell-over .rtq-grid-rztg
{
    border-left: 1px dotted #99BBE8;
    width: 2px;
}
/*DataGrid table layer*/
.rtq-grid-tblyr .rtq-grid-bd
{
    width: auto;
}
.rtq-grid-tblyr .rtq-grid-table
{
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
}
.rtq-grid-tblyr .rtq-grid-table .rtq-grid-row
{
    padding: 0;
}
.rtq-grid-tblyr .rtq-grid-table .rtq-grid-cell
{
    padding: 0;
    float: none;
}
.rtq-grid-tblyr .rtq-grid-hd .rtq-grid-table
{
    width: 100%;
}
.rtq-grid-tblyr .rtq-grid-hd .rtq-grid-table .rtq-grid-row
{
    width: auto;
}
/*rtq-grid-auto width no horizontal scrollbar*/
.rtq-grid-auto
{
}
.rtq-grid-auto div.rtq-grid-hd .rtq-grid-row
{
    width: auto;
}
.rtq-grid-auto div.rtq-grid-cell
{
    width: 5%;
    height: auto;
    margin-right: -1px; *margin-right:-2px;}
.rtq-grid-auto div.rtq-grid-bd
{
    width: auto;
}
.rtq-grid-auto div.rtq-grid-cell .rtq-grid-cell-ctn
{
    white-space: normal;
}
/*DragDrop*/
.rtq-dd-proxy
{
    position: absolute;
    min-width: 60px;
    _width: 60px;
    margin: 20px 0 0 20px;
    padding: 3px 10px 3px 22px;
    border: 1px solid #bbb;
    background: #fff url(../img/drop-no.gif) no-repeat 3px 2px;
    display: none;
    z-index: 9999;
    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
}
div.rtq-dd-drop-yes
{
    background: #fff url(../img/drop-yes.gif) no-repeat 3px 2px;
}

/*Group box*/
.rtq-groupbox
{
    border-bottom: 1px solid #aaa;
    background: #494949;
}
.rtq-groupbox .rtq-groupbox-group
{
    border: 1px solid #aaa;
    border-width: 1px 1px 0;
}
.rtq-groupbox .rtq-groupbox-group-hd
{
    background: #ddd url(../img/bg_group_hd.gif) repeat-x 0 0;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    padding: 3px;
}
.rtq-groupbox .rtq-groupbox-group-bd
{
    display: none;
}
.rtq-groupbox .rtq-groupbox-group-open
{
}
.rtq-groupbox .rtq-groupbox-group-open .rtq-groupbox-group-hd
{
    background: #aaa url(../img/bg_group_hd_on.gif) repeat-x 0 0;
    color: #fff;
}

/*radio*/
.rtq-radio
{
    display: inline-block;
    background: url(../img/ico_sprite.gif) no-repeat 0 -1081px;
    padding: 0 6px 1px 14px;
    cursor: pointer;
}
.rtq-radio:hover
{
    background-position: 0 -1200px;
}
body .rtq-radio-on
{
    background-position: 0 -1140px;
}
/*checkbox*/
.rtq-checkbox
{
    display: inline-block;
    background: url(../img/ico_sprite.gif) 0 -199px no-repeat;
    padding: 0 6px 1px 14px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
body .rtq-checkbox-on
{
    background-position: 0 -171px;
}

.rtq-btngroup
{
    padding: 2px 0;
}
.rtq-btngroup-v
{
    padding: 2px 0;
}
.rtq-btngroup-v .rtq-radio
{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    background-position: 0 -1079px;
    cursor: default;
}
.rtq-btngroup-v .rtq-radio:hover
{
    background-position: 0 -1198px;
}
.rtq-btngroup-v .rtq-radio-on
{
    background-position: 0 -1138px;
}
.rtq-btngroup-v .rtq-checkbox
{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    background-position: 0 -197px;
    cursor: default;
}
.rtq-btngroup-v .rtq-checkbox-on
{
    background-position: 0 -169px;
}
.rtq-btn-disable
{
    filter: alpha(opacity:50);
    opacity: 0.5;
}
/* menu*/
.rtq-menu, .rtq-menu ul, li
{
    list-style: none outside none;
}
.rtq-menu ul
{
    display: none;
    left: 100%;
}
.rtq-menu-ul
{
    z-index: 3000;
    border: 1px solid #999;
    background: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
    list-style: none;
    top: 0;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
}
.rtq-menu-ul .rtq-menu-item
{
   /*color: #333;*/
    display: block;
    list-style: none;
    margin: 0;
    position: relative;
    zoom: 1;
    word-break: keep-all;
    white-space: nowrap;
}
.rtq-menu-ul .rtq-menu-item .rtq-menu-a
{
    display: block;
   /*color: #333;*/
    height: 17px;
    line-height: 14px;
    text-decoration: none;
    text-indent: 3px;
    zoom: 1;
}
.rtq-menu-ul .rtq-menu-item .rtq-menu-a:hover
{
    background-color: #eee;
}
.rtq-menu .rtq-menu-a
{
    cursor: hand;
    cursor: pointer;
}
.rtq-menu a.rtq-chkbox
{
    padding-left: 16px;
    background: url(../../img/ico_sprite.gif) 2px -169px no-repeat;
}
.rtq-menu a.rtq-chkbox-off
{
    background: url(../img/ico_sprite.gif) 2px -197px no-repeat;
}
.rtq-menu a.rtq-ratio
{
    color: #666666;
    font-weight: bold;
}
.rtq-menu a.rtq-ratio-off
{
    font-weight: normal;
}
.rtq-menu-arrow
{
    background: url(http://im.morningstar.com/im/pm/farrow.gif) 112px center no-repeat;
}
.rtq-menu-ul .rtq-menu-separator
{
    border-top: 1px solid #BBBBBB;
    height: 2px;
    margin-left: 1px;
    margin-right: 4px;
    margin-top: 2px;
}


.datepicker
{
    border-collapse: collapse;
    border: 2px solid #999;
    position: absolute;
    z-index: 10000;
}
.datepicker tr.controls th
{
    height: 22px;
    font-size: 11px;
}
.datepicker select
{
    font-size: 11px;
}
.datepicker tr.days th
{
    height: 18px;
}
.datepicker tfoot td
{
    height: 18px;
    text-align: center;
    text-transform: capitalize;
}
.datepicker th, .datepicker tfoot td
{
    background: #eee;
    font: 10px/18px Verdana,Arial,Helvetica,sans-serif;
}
.datepicker th span, .datepicker tfoot td span
{
    font-weight: bold;
}
.datepicker tbody td
{
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    font: 11px/22px Arial,Helvetica,sans-serif;
    text-align: center;
    background: #fff;
}
.datepicker tbody td.date
{
    cursor: pointer;
}
.datepicker tbody td.date.over
{
    background-color: #9ff;
}
.datepicker tbody td.date.chosen
{
    font-weight: bold;
    background-color: #cfc;
}
.ps_dialog_close
{
    background: url("../img/close_gray.gif") no-repeat;
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 3px;
    top: 5px;
}
.ps_dialog_closeWrap
{
    position: relative;
    width: 100%;
    background-color: #ECECEC;
}
.ps_dialog_title
{
    text-align: center;
    height: 21px;
    line-height: 21px;
    font-weight: bolder;
    font-size: 14px;
    width: 100%;
}
.ps_dialog
{
    width: 242px;
    height: 562px;
    border: 2px solid #bbb;
    background-color: #ECECEC;
    position: absolute;
}
.ps_blockLayer
{
    position: absolute;
    left: 0;
    top: 0;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5;
    background: #fff;
    z-index: 100;
}
.ps_dropdownList
{
    width: 150px;
    height: 17px;
    border: 1px solid #000;
    font: 11px tahoma,arial,verdana,sans-serif, 'Bitstream Vera Sans';
    float: left;
}
.ps_dropdownList_downBtn
{
    width: 20px;
    background: url(../img/ico_sprite.gif) no-repeat scroll 98% -65px #FFF;
    cursor: pointer;
    float: right;
}
.ps_dropdownList_optionInputDiv
{
    border: 0;
    float: left;
    overflow-x: hidden;
    background: #fff;
    padding-left: 12px;
    white-space: nowrap;
    text-overflow: clip;
}
.ps_dropdownList_textLabel
{
    float: left;
    margin-right: 5px;
}
.ps_dropdownList_optionInput
{
    vertical-align: middle;
    border: 0;
    font: 11px tahoma,arial,verdana,sans-serif, "Bitstream Vera Sans";
    padding-left: 7px;
}
.ps_dropdownList
{
    width: 150px;
    height: 17px;
    border: 1px solid #888;
    font: 11px verdana;
    float: left;
    background: #fff;
}
.ps_dropdownList_downBtn
{
    width: 20px;
    background: url(../img/drown.gif) no-repeat #FFF;
    cursor: pointer;
    float: right;
}
.ps_resultbox
{
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    -moz-user-select: none;
}
.ps_resultbox_normalOption
{
    background-color: white;
    color: #323232;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    clear: both;
    width: 100%;
}
.ps_resultbox_blueOption
{
    background-color: #ECECEC;
}
.ps_resultbox_selectOption
{
    background-color: #498CE6;
    color: #fff;
}
.ps_resultbox_highlightRow
{
    background-color: #c9e6f5;
    color: #fff;
}
.ps_resultbox_childNodeMenu
{
    padding-left: 12px;
    width: 100%;
}
.ps_resultbox_normalOptiontext
{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    white-space: nowrap;
    cursor: pointer;
}
.ps_resultbox_adico
{
    background: url(../img/ad.gif) no-repeat left center;
}
.ps_resultbox_deico
{
    background: url(../img/de.gif) no-repeat left center;
}
.rtq-panel
{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -120px;
    width: 240px;
    z-index: 99999;
    _zoom: 1;
}
.rtq-panel .hd
{
    _zoom: 1;
}
.rtq-panel .hd .hd-btn
{
    position: absolute;
    top: 0;
    right: 0;
    _right: 3px;
}
.rtq-panel .hd .hd-btn a
{
    height: 12px;
    width: 12px;
    float: right;
    margin: 4px;
    text-indent: -999em;
    cursor: pointer;
}
.rtq-panel .hd .hd-btn a.close
{
    background: url(../img/ico_sprite.gif) no-repeat 50% -44px; *background-position:2px-44px;}
.rtq-panel .hd .hd-btn a.max
{
    background: url(../img/ico_sprite.gif) no-repeat 50% -20px;
}
.rtq-panel .shadow
{
    width: 240px;
    height: 111px; *height:113px;position:absolute;top:0;background:#333;filter:alpha(opacity:20);opacity:.2;z-index:1;}
.rtq-panel .container
{
    margin: 3px;
    background: #fff;
    border: 1px solid #999;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.rtq-panel h4
{
    padding: 4px;
    border-bottom: 1px solid #ddd;
    background: #eee;
}
.rtq-a-c-p
{
    top: 20%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    display: none;
}
.rtq-a-c-p .shadow
{
    width: 300px;
    height: 111px; *height:113px;}
.rtq-a-c-p .ctn
{
    padding: 10px;
}
.rtq-a-c-p .btn-ctn
{
    padding: 10px 10px 0;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}
.rtq-a-c-p .act-btn
{
    width: 160px;
    _width: 170px;
    margin: 0 auto;
    height: 22px;
    overflow: hidden;
}
.rtq-a-c-p .act-btn a
{
    border: 1px solid #aaa;
    background: #eee;
    padding: 3px;
    display: block;
    margin: 0 5px;
    width: 60px;
    text-align: center;
    float: left;
   /*color: #333;*/
    text-decoration: none;
}
.rtq-a-c-p .act-btn a:hover
{
    border: 1px solid #666;
    background: #ccc;
}
.rtq-prompt .name-ipt
{
    border: 1px solid #aaa;
    display: block;
    margin: 0 auto;
    width: 160px;
}
.rtq-confirm .ctn input
{
    position: absolute;
    left: -9999em;
}
.rtq-alert .act-btn
{
    width: 80px;
}
.rtq-msg .hd h4
{
    display: none;
}
.rtq-msg .hd .hd-btn
{
    top: 3px;
    right: 3px;
}
.rtq-msg .container
{
    border: 1px solid #ccc;
    background: #ffc;
}
.rtq-msg .container .ctn
{
    padding: 5px;
}
.rtq-msg .container h5
{
    font-weight: normal;
}
.rtq-ddl
{
    background: #fff url(../img/ico_sprite.gif) 98% -65px no-repeat;
    border: 1px solid #aaa;
   /*color: #333;*/
    float: left;
    margin: 4px 0;
    cursor: pointer;
    list-style: none;
    width: 80px;
    height: 17px;
    position: relative;
}
.rtq-ddl *
{
    margin: 0;
    padding: 0;
}
.rtq-ddl-disable
{
    filter: alpha(opacity:50);
    opacity: .5;
}
.rtq-ddl .rtq-ddl-ipt
{
    cursor: pointer;
    border: 0;
    height: 13px; *height:12px;width:60px;margin:0;font-size:93%;padding:2px;word-break:keep-all;white-space:nowrap;}
.rtq-ddl .rtq-ddl-menu
{
    position: absolute;
    background: #fff;
    border: 1px solid #aaa;
    display: none;
    left: -1px;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
}
.rtq-ddl .rtq-ddl-menu li
{ *vertical-align:middle;*zoom:1;}
.rtq-ddl .rtq-ddl-menu li a
{
    display: block;
    padding: 3px;
    text-decoration: none;
   /*color: #333;*/
    zoom: 1;
    line-height: 1.2; *vertical-align:middle;*zoom:1;}
.rtq-ddl .rtq-ddl-menu li a:hover
{
    background: #ccc;
}
.rtq-ddl .rtq-ddl-menu li a.on
{
    background: #eee;
    font-weight: bold;
}
div.rtq-ddl-black
{
    margin: 0 0 7px 0;
    background: #363636 url(../img/ico_sprite.gif) 100% -1268px no-repeat;
    border: 1px solid #a5a5a5;
}
div.rtq-ddl-black .rtq-ddl-ipt
{
    color: #ececec;
    background: #363636;
}
div.rtq-ddl-black .rtq-ddl-menu
{
    margin: 0;
    background: #363636;
    border: 1px solid #a5a5a5;
    -moz-box-shadow: 1px 1px 5px #000;
}
div.rtq-ddl-black .rtq-ddl-menu li a
{
    color: #ececec;
}
div.rtq-ddl-black .rtq-ddl-menu li a.on
{
    background: #848484;
}
div.rtq-ddl-black .rtq-ddl-menu li a:hover
{
    background: #666;
}
.rtq-slider
{
    position: absolute;
    float: left;
}
.rtq-slider .rtq-slider-mid
{
    background: url(../img/slider_handler_mid.png);
    display: block;
    position: absolute;
    height: 35px;
}
.rtq-slider-mid a
{
    float: left;
    height: 35px;
    left: 10%;
    position: relative;
    width: 80%;
    z-index: 300;
    cursor: move;
}
.rtq-slider .rtq-slider-handle
{
    border-top: 1px solid #666;
    opacity: .5;
    filter: alpha(opacity:50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    background: url(../img/slider_handler.png);
    background-repeat: repeat-x;
    display: block;
    position: absolute;
    height: 35px;
    top: -1px;
    z-index: 300;
}
.rtq-slider .rtq-slider-left, .rtq-slider .rtq-slider-right
{
    cursor: w-resize;
    height: 35px;
    position: absolute;
    width: 7px;
    z-index: 500;
}
.rtq-slider .rtq-slider-left
{
    background: url(../img/ico_sprite.gif) no-repeat 0 -387px;
    right: 0;
}
.rtq-slider .rtq-slider-right
{
    background: url(../img/ico_sprite.gif) no-repeat 0 -458px;
    left: 0;
}
.rtrm-ot
{
    display: none;
    z-index: 3000;
    border: 1px solid #666;
    background: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
}
.rtrm-ot .rtrm-out
{
    /*color: #333;*/
    display: block;
    list-style: none;
    margin: 0;
    position: relative;
    zoom: 1;
    word-break: keep-all;
    white-space: nowrap;
}
.rtrm-ot .rtrm-out a
{
    display: block;
   /*color: #333;*/
    height: 17px;
    line-height: 14px;
    text-decoration: none;
    text-indent: 3px;
    zoom: 1;
}
.rtrm-ot .rtrm-out a:hover
{
    background-color: #eee;
}
.rtrm-ot .rtrm-out ul
{
    left: 100%;
    top: 0;
    background: #FFF;
    border: 1px solid #666;
    display: none;
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100px;
}
.rtrm-ot li.over
{
    _vertical-align: middle;
}
.rtrm-ot li:hover ul, .rtrm-ot li.over ul
{
    display: block;
}
.rtrm-arrow
{
    background: url(http://im.morningstar.com/im/pm/farrow.gif) 112px center no-repeat;
}
.rtrm-ot .rtq-chkbox
{
    background: url(../img/ico_sprite.gif) 2px -171px no-repeat;
    padding-left: 16px;
}
.rtrm-ot .rtq-chkbox_off
{
    background: url(../img/ico_sprite.gif) 2px -199px no-repeat;
}
.rtq-tabs .rtq-tab-wrap
{
    position: relative;
    background: url(../img/bg_tab.gif) repeat-x 0 100%;
    height: 28px;
}
.rtq-tabs .rtq-tab-tablist
{
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    padding: 3px 0 0;
    z-index: 99;
}
.rtq-tabs .rtq-tab-tablist .rtq-ddl
{
    border: 0;
    background: transparent url(../img/ico_sprite.gif/ico_sprite.gif) no-repeat 7px -65px;
}
.rtq-tabs .rtq-tab-tablist .rtq-ddl-ipt
{
    display: none;
}
.rtq-tabs .rtq-tab-tablist .rtq-ddl-menu
{
    width: 100px;
    margin-left: -75px;
    overflow: hidden;
}
.rtq-tabs .rtq-tab-tablist .rtq-ddl-menu li
{
    display: block;
    width: 100%;
}
.rtq-tabs .rtq-tab-menus-wrap
{
    overflow: hidden;
    height: 28px; *position:relative;_width:96%;}
.rtq-tabs .rtq-tab-menus
{
    zoom: 1;
    padding: 4px 2px 0;
    height: 23px;
    margin: 0;
    width: 4000px;
}
.rtq-tabs .rtq-tab-menus:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.rtq-tabs .rtq-tab-menus .menu
{
    float: left;
}
.rtq-tabs .rtq-tab-menus li
{
    overflow: hidden;
    height: 24px;
    margin-bottom: -1px;
    padding: 0 0 0 2px;
    position: relative;
    min-width: 40px;
    max-width: 120px;
    _width: 80px;
}
.rtq-tabs .rtq-tab-menus li.over
{
    background: url(../img/bg_toolbar.gif) no-repeat 0 -401px;
}
.rtq-tabs .rtq-tab-menus li.on
{
    background: url(../img/bg_toolbar.gif) no-repeat 0 -401px;
    font-weight: bold;
}
.rtq-tabs .rtq-tab-menus li a
{
    cursor: pointer;
    display: block;
    padding: 0 10px;
    text-align: center;
}
.rtq-tabs .rtq-tab-menus li a span
{
    text-align: center;
    display: block;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    _width: 50%;
}
.rtq-tabs .rtq-tab-menus li a em
{
    position: absolute;
    top: 9px;
    right: 3px;
    height: 10px;
    width: 12px;
    overflow: hidden;
    text-indent: 999em;
    background: #fff url(../img/ico_sprite.gif) no-repeat 3px -47px;
    display: none;
    cursor: pointer;
}
.rtq-tabs .rtq-tab-menus li.on a
{
    padding: 0 15px 0 5px;
}
.rtq-tabs .rtq-tab-menus li.on em
{
    display: block;
}
.rtq-tabs .rtq-tab-menus li.on a, .rtq-tabs .rtq-tab-menus li.over a
{
    background: url(../img/bg_toolbar.gif) no-repeat 100% -401px;
}
.rtq-tabs .rtq-tab-menus li.noclose a
{
    padding: 0 10px;
}
.rtq-tabs .rtq-tab-menus li.noclose em
{
    display: none !important;
}
.rtq-tabs ul.rtq-tab-menus li.disabled
{
    background: none !important;
}
.rtq-tabs ul.rtq-tab-menus li.disabled a
{
    background: none !important;
    cursor: default;
}
.rtq-tabs ul.rtq-tab-menus li.disabled a span
{
    color: #999 !important;
}
.rtq-tabs .rtq-tab-panels .rtq-tab-panel
{
    display: none;
}
.rtq-tabs-v
{
    zoom: 1;
    background: #494949;
}
.rtq-tabs-v:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.rtq-tabs-v .rtq-tab-wrap
{
    float: left;
    width: 120px;
    height: auto;
    background: none;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus-wrap
{
    height: 200px;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus
{
    padding: 0;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li
{
    float: none;
    background: none;
    height: 16px;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li a
{
    background: none;
    padding: 0;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li span
{
    background: none;
    line-height: 16px;
    height: 16px;
    text-align: left;
    color: #fff;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li em
{
    display: none;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li.on
{
    background: #6D6D6D;
}
.rtq-tabs-v .rtq-tab-wrap .rtq-tab-menus li.over
{
    background: #777;
}
.rtq-tabs-v .rtq-tab-panels
{
    background: #6D6D6D;
    float: left;
    width: 360px;
}
.rtq-tabs-v .rtq-tab-panels .rtq-tab-panel
{
    height: 200px;
}
.rtq-scrollpanel
{
    position: relative;
}
.rtq-scrollpanel-both
{
    background: url(../img/bg_scroll_joint.gif) no-repeat 100% 100%;
}
.rtq-scrollbar
{
    background: #e9e9e9;
    position: absolute;
    z-index: 1;
    display: none;
}
.rtq-scrollbar .rtq-scrollbar-up, .rtq-scrollbar .rtq-scrollbar-down
{
    position: absolute;
    background: #ddd;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    overflow: hidden;
    text-indent: -999em;
}
.rtq-scrollbar .rtq-scrollbar-bar
{
    background: #ddd;
    border: 1px solid #999;
    position: absolute;
}
.rtq-scrollbar
{
    border: 1px solid #cacaca;
}
div.rtq-scrollbar-x
{
    border-bottom: 0;
    height: 11px;
    left: 0;
    bottom: 0;
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 0;
}
div.rtq-scrollbar-x .rtq-scrollbar-up, div.rtq-scrollbar-x .rtq-scrollbar-down
{
    top: 0;
    border: 0;
    width: 14px;
    height: 11px;
}
div.rtq-scrollbar-x .rtq-scrollbar-up
{
    left: 0;
    background: url(../img/bg_light_scroll_h.gif) no-repeat 0 -11px;
}
div.rtq-scrollbar-x .rtq-scrollbar-down
{
    right: 0;
    background: url(../img/bg_light_scroll_h.gif) no-repeat 0 -22px;
}
div.rtq-scrollbar-x .rtq-scrollbar-bar
{
    border: 0;
    height: 11px;
    left: 14px;
    top: 0;
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 -33px;
}
div.rtq-scrollbar-y
{
    border-right: 0;
    right: 0;
    top: 0;
    width: 11px;
    background: url(../img/bg_light_scroll_v.gif) repeat-y 0 0;
}
div.rtq-scrollbar-y .rtq-scrollbar-up, div.rtq-scrollbar-y .rtq-scrollbar-down
{
    left: 0;
    border: 0;
    width: 11px;
    height: 14px;
}
div.rtq-scrollbar-y .rtq-scrollbar-up
{
    top: 0;
    background: url(../img/bg_light_scroll_v.gif) no-repeat -11px 0;
}
div.rtq-scrollbar-y .rtq-scrollbar-down
{
    bottom: 0;
    background: url(../img/bg_light_scroll_v.gif) no-repeat -22px 0;
}
div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    width: 11px;
    left: 0;
    top: 14px;
    border: 0;
    background: url(../img/bg_light_scroll_v.gif) repeat-y -33px 0;
}
#layouthelper .rtq-scrollbar
{
    border: 1px solid #646464;
}
#layouthelper div.rtq-scrollbar-y
{
    background: url(../img/bg_dark_scroll_v.gif) repeat-y 0 0;
}
#layouthelper div.rtq-scrollbar-y .rtq-scrollbar-up
{
    background: url(../img/bg_dark_scroll_v.gif) no-repeat -11px 0;
}
#layouthelper div.rtq-scrollbar-y .rtq-scrollbar-down
{
    background: url(../img/bg_dark_scroll_v.gif) no-repeat -22px 0;
}
#layouthelper div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    background: url(../img/bg_dark_scroll_v.gif) repeat-y -33px 0;
}
.rtq-window-setpn-cht .rtq-scrollbar
{
    border: 1px solid #646464;
}
.rtq-window-setpn-cht div.rtq-scrollbar-y
{
    background: url(../img/bg_dark_scroll_v.gif) repeat-y 0 0;
}
.rtq-window-setpn-cht div.rtq-scrollbar-y .rtq-scrollbar-up
{
    background: url(../img/bg_dark_scroll_v.gif) no-repeat -11px 0;
}
.rtq-window-setpn-cht div.rtq-scrollbar-y .rtq-scrollbar-down
{
    background: url(../img/bg_dark_scroll_v.gif) no-repeat -22px 0;
}
.rtq-window-setpn-cht div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    background: url(../img/bg_dark_scroll_v.gif) repeat-y -33px 0;
}
.rtq-win
{
    position: absolute;
    z-index: 100;
    zoom: 1;
}
.rtq-win .win-hd
{
    float: left;
    width: 100%;
    background: url(../img/bg_container_til.gif) 0 -1px repeat-x;
    cursor: move;
    height: 22px;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.rtq-win .win-hd h3
{
    display: block;
    float: left;
    margin: 4px;
    height: 14px;
    overflow: hidden;
}
.rtq-win .win-hd .win-operator
{
    float: right;
    margin: 5px 1px 0 0;
    z-index: 1111;
}
.rtq-win .win-hd .win-operator div
{
    float: left;
    margin: 0 3px;
    width: 11px;
    height: 11px;
    background: url(../img/ico_sprite.gif) 0 0 no-repeat;
    cursor: pointer;
}
.rtq-win .win-hd .win-operator div.max
{
    background-position: 0 -23px;
}
.rtq-win .win-hd .win-operator div.close
{
    background-position: 0 -45px;
}
.rtq-win .win-hd .win-operator div.restore
{
    background-position: 0 -704px;
}
.rtq-win .win-hd .win-operator div.setting
{
    background: none;
    width: 40px;
    line-height: 11px;
    font-size: 9px;
    color: #555;
}
.rtq-win .win-bd
{
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    zoom: 1;
}
.rtq-win .win-opacity
{
    background: #ccc;
    filter: alpha(opacity=60);
    opacity: .4;
}
.rtq-win .rtq-win-wrap
{
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #c4c4c4;
    background: #fff;
}
.rtq-win .win-line
{
    position: absolute;
    font-size: 0;
    line-height: 0;
    z-index: 101;
}
.rtq-win .win-north
{
    width: 100%;
    height: 2px;
    cursor: n-resize;
    left: 0;
    top: 0;
}
.rtq-win .win-south
{
    width: 100%;
    height: 4px;
    cursor: n-resize;
    left: 0;
    bottom: 0;
}
.rtq-win .win-west
{
    width: 4px;
    height: 100%;
    cursor: e-resize;
    left: -3px;
    top: 0;
}
.rtq-win .win-east
{
    width: 4px;
    height: 100%;
    cursor: e-resize;
    right: -3px;
    top: 0;
}
.rtq-win .win-conner
{
    width: 5px;
    height: 5px;
    position: absolute;
    background: url(../img/rc_sprite.gif) 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    z-index: 101;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.rtq-win .win-west-north
{
    cursor: nw-resize;
    left: -1px;
    top: -1px;
}
.rtq-win .win-east-north
{
    cursor: ne-resize;
    right: -1px;
    top: -1px;
    background-position: 0 -5px;
}
.rtq-win .win-east-south
{
    cursor: nw-resize;
    right: -1px;
    bottom: -1px;
    background-position: 0 -10px;
}
.rtq-win .win-west-south
{
    cursor: ne-resize;
    left: -1px;
    bottom: -1px;
    background-position: 0 -15px;
}
.rtq-win-shadow
{
    position: absolute;
    display: none;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_shadow.png',sizingMethod='scale');
}
.rtq-win-shadow .ws-wrap
{
    position: relative;
    width: 100%;
    height: 100%;
}
.rtq-win-shadow .ws-wrap .wins-conner
{
    width: 10px;
    height: 10px;
    position: absolute;
    background: url(../img/shadow2_sprite.png) 0 0 no-repeat;
    _background: none;
}
.rtq-win-shadow .ws-wrap .wins-west-north
{
    left: 0;
    top: 0;
    background-position: 0 0;
}
.rtq-win-shadow .ws-wrap .wins-east-north
{
    right: 0;
    top: 0;
    background-position: 0 -10px;
}
.rtq-win-shadow .ws-wrap .wins-east-south
{
    right: 0;
    bottom: -2px;
    background-position: 0 -20px;
}
.rtq-win-shadow .ws-wrap .wins-west-south
{
    left: 0;
    bottom: -2px;
    background-position: 0 -30px;
}
.rtq-win-shadow .ws-wrap .wins-south
{
    width: 100%;
    height: 10px;
    left: 10px;
    bottom: -3px;
    background: url(../img/shadow4_sprite.png) 0 0 repeat-x;
    position: absolute;
    _background: none;
}
.rtq-win-shadow .ws-wrap .wins-east
{
    width: 10px;
    height: 100%;
    right: -1px;
    top: 10px;
    background: url(../img/shadow3_sprite.png) 0 0 repeat-y;
    position: absolute;
    _background: none;
}
.rtq-win-shadow .ws-wrap .wins-west
{
    width: 10px;
    height: 100%;
    left: 0;
    top: 10px;
    background: url(../img/shadow5_sprite.png) 0 0 repeat-y;
    position: absolute;
    _background: none;
}
.rtq-win .win-bd .rtq-tabs .rtq-tab-wrap, .rtq-win .win-bd .rtq-wl .add-btn
{
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.rtq-win div.rtq-scrollbar-x
{
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 -44px;
}
.rtq-win div.rtq-scrollbar-x .rtq-scrollbar-up
{
    background: url(../img/bg_light_scroll_h.gif) no-repeat 0 -55px;
}
.rtq-win div.rtq-scrollbar-x .rtq-scrollbar-down
{
    background: url(../img/bg_light_scroll_h.gif) no-repeat 0 -66px;
}
.rtq-win div.rtq-scrollbar-x .rtq-scrollbar-bar
{
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 -77px;
}
.rtq-win div.rtq-scrollbar-y
{
    background: url(../img/bg_light_scroll_v.gif) repeat-y -44px 0;
}
.rtq-win div.rtq-scrollbar-y .rtq-scrollbar-up
{
    background: url(../img/bg_light_scroll_v.gif) no-repeat -55px 0;
}
.rtq-win div.rtq-scrollbar-y .rtq-scrollbar-down
{
    background: url(../img/bg_light_scroll_v.gif) no-repeat -66px 0;
}
.rtq-win div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    background: url(../img/bg_light_scroll_v.gif) repeat-y -77px 0;
}
.rtq-win-active .win-hd, .rtq-win-active .win-bd .rtq-tabs .rtq-tab-wrap, .rtq-win-active .win-bd .rtq-wl .add-btn, .rtq-win-active .win-conner
{
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.rtq-win-active .rtq-win-wrap
{
    border: 1px solid #9e9e9e;
}
.rtq-win-active div.rtq-scrollbar-x
{
    background: url(../img/bg_light_scroll_h.gif) repeat-x 0 0;
}
.rtq-win-active div.rtq-scrollbar-x .rtq-scrollbar-up
{
    background: url(../img/scrollpanel/bg_light_scroll_h.gif) no-repeat 0 -11px;
}
.rtq-win-active div.rtq-scrollbar-x .rtq-scrollbar-down
{
    background: url(../img/scrollpanel/bg_light_scroll_h.gif) no-repeat 0 -22px;
}
.rtq-win-active div.rtq-scrollbar-x .rtq-scrollbar-bar
{
    background: url(../img/scrollpanel/bg_light_scroll_h.gif) repeat-x 0 -33px;
}
.rtq-win-active div.rtq-scrollbar-y
{
    background: url(../img/scrollpanel/bg_light_scroll_v.gif) repeat-y 0 0;
}
.rtq-win-active div.rtq-scrollbar-y .rtq-scrollbar-up
{
    background: url(../img/bg_light_scroll_v.gif) no-repeat -11px 0;
}
.rtq-win-active div.rtq-scrollbar-y .rtq-scrollbar-down
{
    background: url(../img/bg_light_scroll_v.gif) no-repeat -22px 0;
}
.rtq-win-active div.rtq-scrollbar-y .rtq-scrollbar-bar
{
    background: url(../img/bg_light_scroll_v.gif) repeat-y -33px 0;
}
.rtq-grid .rtq-grid-row
{
    border: 1px solid #ddd;
    zoom: 1;
}
.rtq-grid .rtq-grid-row-alt
{
    background: #f8f8f8;
}
.rtq-grid .rtq-grid-cell
{
    float: left;
    overflow: hidden;
    width: 80px;
    height: 18px;
    border-right: 1px solid #ddd;
    cursor: default;
}
.rtq-grid .rtq-grid-cell .rtq-grid-cell-ctn
{
    padding: 3px;
    height: 100%;
    white-space: nowrap;
    position: relative;

}
.rtq-grid .rtq-grid-cell-sa .rtq-grid-cell-ctn
{
    padding-right: 14px;
    background: url(../img/grid_sort_asc.gif) no-repeat 100% 8px;
}
.rtq-grid .rtq-grid-cell-sd .rtq-grid-cell-ctn
{
    padding-right: 14px;
    background: url(../img/grid_sort_desc.gif) no-repeat 100% 8px;
}
.rtq-grid .rtq-grid-row .rtq-grid-cell-del
{
    width: 20px;
}
.rtq-grid .rtq-grid-scroll
{
    overflow: hidden; *position:relative;}
.rtq-grid .rtq-grid-rzproxy
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    cursor: col-resize;
    border: 1px solid #333;
    border-width: 0 1px;
    background: #0084FF;
    opacity: .2;
    filter: alpha(opacity=20);
    height: 100%;
    display: none;
}
.rtq-grid .rtq-grid-csproxy
{
    position: absolute;
    top: 18px;
    right: 0;
    z-index: 9;
    border: 2px solid #666;
    color: #000;
    font-weight: bold;
    background: url(../img/bg_grid_header.gif) repeat-x 0 0;
    opacity: .8;
    filter: alpha(opacity=80);
    height: 12px;
    padding: 3px 4px;
    display: none;
}
.rtq-grid .rtq-grid-citip
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    background: #666;
    width: 2px;
    height: 100%;
    display: none;
}
.rtq-grid .rtq-grid-group .rtq-grid-group-til
{
    border-bottom: 1px solid #ccc;
    padding: 3px 3px;
    font-size: 93%;
    position: relative;
}
.rtq-grid .rtq-grid-group-drag
{
    background: #ddd;
}
.rtq-grid .rtq-grid-group-drag *
{
    opacity: .8;
    filter: alpha(opacity:80);
}
.rtq-grid .rtq-grid-group-drop .rtq-grid-group-til
{
    border-top: 1px solid #333;
}
.rtq-grid .rtq-grid-group .rtq-grid-group-tool-clp
{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 3px;
    height: 10px;
    width: 10px;
    text-indent: -999em;
    background: url(../img/ico_sprite.gif) no-repeat 0 -66px;
}
.rtq-grid .rtq-grid-group-clp a.rtq-grid-group-tool-clp
{
    background: url(../img/ico_sprite.gif) no-repeat 2px -90px;
}
.rtq-grid .rtq-grid-group-clp div.rtq-grid-group-bd
{
    display: none;
}
.rtq-grid .rtq-grid-cell-hide
{
    display: none;
}
.rtq-grid .rtq-grid-fixcolumns
{
    height: 100%;
    overflow: hidden;
    float: left;
}
.rtq-grid .rtq-grid-bd
{
    zoom: 1;
    width: 3000px;
    background-color:#fffffe;
}
.rtq-grid .rtq-grid-bd .rtq-grid-row-over
{
    border: 1px dotted #ccc;
    background: #f3f3f3;
}
.rtq-grid div.rtq-grid-bd .rtq-grid-row-drop
{
    border-top: 1px solid #333;
    background: #fff;
}
.rtq-grid .rtq-grid-bd div.rtq-grid-row-selected
{
    background: #eee;
}
.rtq-grid .rtq-grid-bd div.rtq-grid-row-selected .rtq-grid-cell
{
    border-color: #eee;
}
.rtq-grid .rtq-grid-bd .rtq-grid-cell
{
    border-color: #f8f8f8;
}
.rtq-grid .rtq-grid-bd .rtq-grid-cell-del a
{
    background: url(../img/ico_sprite.gif) no-repeat 50% -44px;
    text-align: left;
    text-indent: -100px;
    overflow: hidden;
    width: 18px;
    display: block;
}
.rtq-grid .rtq-grid-hd
{
    position: relative;
    cursor: default;
    overflow: hidden;
    background: url(../img/bg_grid_header.gif) repeat-x 0 0;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell
{
    height: 20px;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell .rtq-grid-cell-ctn
{
    cursor: default;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell-over
{
    background: url(../img/bg_grid_header_over.gif) repeat-x 0 0;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell-del .rtq-grid-cell-ctn
{
    visibility: hidden;
}
.rtq-grid .rtq-grid-hd .onsort
{
    background: #eee;
    color: #000;
    font-weight: bold;
}
.rtq-grid .rtq-grid-rzrow .rtq-grid-cell
{
    position: relative;
}
.rtq-grid .rtq-grid-rzrow .rtq-grid-cell .rtq-grid-cell-ctn
{
    position: relative;
}
.rtq-grid .rtq-grid-rzrow .rtq-grid-rztg
{
    position: absolute;
    top: -2px;
    right: -1px;
    cursor: col-resize;
    width: 4px;
    height: 25px;
}
.rtq-grid .rtq-grid-rzrow .rtq-grid-cell-over .rtq-grid-rztg
{
    border-left: 1px dotted #99BBE8;
    width: 2px;
}
.rtq-grid-tblyr .rtq-grid-bd
{
    width: auto;
}
.rtq-grid-tblyr .rtq-grid-table
{
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
}
.rtq-grid-tblyr .rtq-grid-table .rtq-grid-row
{
    padding: 0;
}
.rtq-grid-tblyr .rtq-grid-table .rtq-grid-cell
{
    padding: 0;
    float: none;
}
.rtq-grid-tblyr .rtq-grid-hd .rtq-grid-table
{
    width: 100%;
}
.rtq-grid-tblyr .rtq-grid-hd .rtq-grid-table .rtq-grid-row
{
    width: auto;
}
.rtq-grid-auto div.rtq-grid-hd .rtq-grid-row
{
    width: auto;
}
.rtq-grid-auto div.rtq-grid-cell
{
    width: 5%;
    height: auto;
    margin-right: -1px; *margin-right:-2px;}
.rtq-grid-auto div.rtq-grid-bd
{
    width: auto;
}
.rtq-grid-auto div.rtq-grid-cell .rtq-grid-cell-ctn
{
    white-space: normal;
}
.rtq-dd-proxy
{
    position: absolute;
    min-width: 60px;
    _width: 60px;
    margin: 20px 0 0 20px;
    padding: 3px 10px 3px 22px;
    border: 1px solid #bbb;
    background: #fff url(../img/drop-no.gif) no-repeat 3px 2px;
    display: none;
    z-index: 9999;
    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
}
div.rtq-dd-drop-yes
{
    background: #fff url(../img/drop-yes.gif) no-repeat 3px 2px;
}
.rtq-groupbox
{
    border-bottom: 1px solid #aaa;
    background: #494949;
}
.rtq-groupbox .rtq-groupbox-group
{
    border: 1px solid #aaa;
    border-width: 1px 1px 0;
}
.rtq-groupbox .rtq-groupbox-group-hd
{
    background: #ddd url(../img/bg_group_hd.gif) repeat-x 0 0;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    padding: 3px;
}
.rtq-groupbox .rtq-groupbox-group-bd
{
    display: none;
}
.rtq-groupbox .rtq-groupbox-group-open .rtq-groupbox-group-hd
{
    background: #aaa url(../img/bg_group_hd_on.gif) repeat-x 0 0;
    color: #fff;
}
.rtq-radio
{
    display: inline-block;
    background: url(../img/ico_sprite.gif) no-repeat 0 -1081px;
    padding: 0 6px 1px 14px;
    cursor: pointer;
}
.rtq-radio:hover
{
    background-position: 0 -1200px;
}
body .rtq-radio-on
{
    background-position: 0 -1140px;
}
.rtq-checkbox
{
    display: inline-block;
    background: url(../img/ico_sprite.gif) 0 -199px no-repeat;
    padding: 0 6px 1px 14px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height:12px;
    position:relative;
    top:2px;
}
body .rtq-checkbox-on
{
    background-position: 0 -171px;
}
.rtq-btngroup
{
    padding: 2px 0;
}
.rtq-btngroup-v
{
    padding: 2px 0;
}
.rtq-btngroup-v .rtq-radio
{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    background-position: 0 -1079px;
    cursor: default;
}
.rtq-btngroup-v .rtq-radio:hover
{
    background-position: 0 -1198px;
}
.rtq-btngroup-v .rtq-radio-on
{
    background-position: 0 -1138px;
}
.rtq-btngroup-v .rtq-checkbox
{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    background-position: 0 -197px;
    cursor: default;
}
.rtq-btngroup-v .rtq-checkbox-on
{
    background-position: 0 -169px;
}
.rtq-btn-disable
{
    filter: alpha(opacity:50);
    opacity: .5;
}
.rtq-menu, .rtq-menu ul, li
{
    list-style: none outside none;
}
.rtq-menu ul
{
    display: none;
    left: 100%;
}
.rtq-menu-ul
{
    z-index: 3000;
    border: 1px solid #999;
    background: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
    list-style: none;
    top: 0;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
}
.rtq-menu-ul .rtq-menu-item
{
   /*color: #333;*/
    display: block;
    list-style: none;
    margin: 0;
    position: relative;
    zoom: 1;
    word-break: keep-all;
    white-space: nowrap;
}
.rtq-menu-ul .rtq-menu-item .rtq-menu-a
{
    display: block;
    /*color: #333;*/
    height: 17px;
    line-height: 14px;
    text-decoration: none;
    text-indent: 3px;
    zoom: 1;
}
.rtq-menu-ul .rtq-menu-item .rtq-menu-a:hover
{
    background-color: #eee;
}
.rtq-menu .rtq-menu-a
{
    cursor: hand;
    cursor: pointer;
}
.rtq-menu a.rtq-chkbox
{
    padding-left: 16px;
    background: url(../../img/ico_sprite.gif) 2px -169px no-repeat;
}
.rtq-menu a.rtq-chkbox-off
{
    background: url(../img/ico_sprite.gif) 2px -197px no-repeat;
}
.rtq-menu a.rtq-ratio
{
    color: #666;
    font-weight: bold;
}
.rtq-menu a.rtq-ratio-off
{
    font-weight: normal;
}
.rtq-menu-arrow
{
    background: url(http://im.morningstar.com/im/pm/farrow.gif) 112px center no-repeat;
}
.rtq-menu-ul .rtq-menu-separator
{
    border-top: 1px solid #BBB;
    height: 2px;
    margin-left: 1px;
    margin-right: 4px;
    margin-top: 2px;
}


/*for common datagrid overrite*/
.rtq-grid .rtq-grid-hd .rtq-grid-row
{
    border-top: none;
    border-left: none;
	height:25px;
}
.rtq-grid .rtq-grid-cell
{
    position: relative;
    font: 11px Verdana;
    /*color: #333;*/
    text-indent: 4px;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell
{
    height: 25px;
    border-left: 1px solid #fff;
    border-right: 1px solid #d1d1d1;
}
.rtq-grid .rtq-grid-bd .rtq-grid-cell
{
    height: 19px;
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #fff;
    line-height: 16px;
}
.rtq-grid .rtq-grid-bd div.rtq-grid-row-selected .rtq-grid-cell
{
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #fff;
}
.rtq-grid .rtq-grid-row
{
    border: none;
}
.rtq-grid .rtq-grid-bd .rtq-grid-row-over
{
    border: none;
    background: #c9e6f5;
}
.rtq-grid .rtq-grid-bd div.rtq-grid-row-selected
{
    background: #a3cff0;
}
.rtq-grid .rtq-grid-row-alt
{
    background: #eee;
}
.rtq-grid .rtq-grid-hd div.rtq-grid-row-firstCell
{
    border-left: none;
}
.rtq-grid .rtq-grid-bd div.rtq-grid-row-firstCell
{
    border-left: none;
}
.rtq-grid .rtq-grid-bd div.rtq-grid-row-selected div.rtq-grid-row-firstCell
{
    border-left: none;
}
.rtq-grid .rtq-grid-hd .rtq-grid-cell-over
{
    background: none;
}
.ps_blockLayer
{
    position:absolute;
    left:0;
    top:0;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
    background:#fff;
    z-index:100
}
.rtq-grid div.rtq-grid-sz,.rtq-grid div.rtq-grid-sz
{
    margin:0;
    padding:0;
}
.rtq-grid .rtq-grid-fxcols div.rtq-grid-bdz
{
     padding:0;
     margin:0;
     height:auto;
     overflow:hidden;
}
.rtq-grid div.rtq-grid-sz,.rtq-grid .rtq-grid-fxcols div.rtq-grid-bdz
{
    position:relative;
}
