﻿/*reset css*/
html
{
    color: #000;
    -webkit-text-size-adjust:none;
    overflow : auto;
    
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td
{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
}
body 
{
    overflow :hidden;
    background: #FFF;
}
body, form {
    width:100%;
    margin:0 auto;
}
.lfrgborder {
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img
{
    border: 0px;
}
fieldset {
    border: 1px solid #ccc;
    padding: 0 3px 10px;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup
{
    font-style: inherit;
    font-weight: inherit;
}
del, ins
{
    text-decoration: none;
}
li
{
    list-style: none;
}
caption, th
{
    text-align: left;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after
{
    content: '';
}
abbr, acronym
{
    border: 0px;
    font-variant: normal;
}
sup
{
    vertical-align: baseline;
}
sub
{
    vertical-align: baseline;
}
legend
{
    color: #000;
}
input, button, textarea, select, optgroup, option
{
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select
{ 
    *font-size:100%;
}

body
{
    font-size: 0.8em;
    font-style: normal;
}
body, input, select, textarea, a {
    color: #30332D;
}
textarea
{
    overflow:auto;
    resize:none
}
.tophrln
{
    width: auto; 
    height:6px; 
    display:block;
    *display:inline;
}
hr
{
    width: 100%;
    height: 1px;
    color: #ccc;
    border:none;
    border-bottom:solid 1px #ccc;
    margin:0;
    padding:0;
}
.btnc
{
    text-align: right; 
    margin-top: 2px;
}
/*Shadow*/
.fm_shadow
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 6px;
    background: url(http://im.mstar.com/im/mbr/fm_btmshadow.png) 0px 0px no-repeat;
    position: relative;
    float: left;
    display: inline;
    line-height: 3px;
    border-top: solid 1px #AAA;
}
.fm_shadow span
{
    top: 0;
    right: -1px;
    height: 6px;
    width: 10px;
    background: url(http://im.mstar.com/im/mbr/fm_btmshadow.png) -965px 0px no-repeat;
    overflow: hidden;
    position: absolute;
}

/*Inputs*/
.fm_row
{
    margin: 0px;
    padding: 4px 0px 4px 0px;
    width: 100%;
    float: left;
    display: inline;
}
.fm_fld_cnt
{
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline;
}
.txtinput, fm_fld_cnt input, select,textarea
{
    margin: 0px;
    padding: 3px 0px 0px 3px;
    height: 19px;
    border: 1px solid #CCC;
    color: #30332D;
    font-size: 11px;
    outline: none;
    display: inline;
    line-height:16px;
    background-color:White;
}
input::-ms-clear {
	display:none;
	width : 0;
	height: 0;
}
/*Form Button*/
.button
{
    margin: 0px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    background:url(images/grayicons.png) repeat-x 0px -1px;
    border:solid 1px #ccc;
    line-height:18px;
    min-width: 75px;
}
.hoverbtn,.button:hover
{
    background:url(images/grayicons.png) repeat-x 170px -1px ;
}
/*Dropdown Lists*/
.fm_dd
{
    height: 22px;
    background-color: #FFF;
    border: 1px solid #CCC;
    list-style-type: none;
    outline: none;
    float: left;
    display: inline;
    overflow:hidden;
}
.lstc, .embedlist {
	position: absolute;
	height: 105px;
	border: 1px solid #CCC;
	display: none;
	overflow: auto;
	overflow-x: hidden;
	z-index: 99999;
	margin: 0px 0px 0px -1px;
	padding: 0px;
	background-color: #EEE;
	left: 0;
	top: 0;
}
.upba,.dwba
{
    text-align :center;
    background:url(../img/bg_light_scroll_h.gif) repeat-x 0 0; 
    margin:0;
    padding:0;
    height:10px;
    cursor:default;
    display:none;
}
.upba span,.dwba span
{
    display: inline-block;
    margin: 2px 0 0 0;
    padding:0;
    height:6px;
    width:6px;
}
.upba .off
{
    background: url("../img/smallarrow.gif") repeat scroll 6px 1px transparent;
}
.dwba .off
{
   background: url("../img/smallarrow.gif") repeat scroll 6px 6px transparent;
}
.upba .on
{
    background: url("../img/smallarrow.gif") repeat scroll 0px 1px transparent;
}
.dwba .on
{
    background: url("../img/smallarrow.gif") repeat scroll 0px 6px transparent;
}

.lstc ul
{
     height:auto;
     width:100%;
}
.lstc ul li
{
    width: 100%;
    font-size: 12px;
    list-style: none;
    display:inline-block;
    float:left;
}
.lstc ul li a,.lstc ul li a:link,.lstc ul li a:visited
{
    padding-left: 3px;
    width: 100%;
    height: 21px;
    line-height: 20px;
    text-decoration: none;
    display: block;
    outline: none;
    overflow-x: hidden;
    font-size:9pt;
    white-space:nowrap;
}
.lstc ul li .selected
{
     background-color:#A3CFF0;
}
.lstc ul li a:hover
{
    background-color: #C3D0E0;
    outline: none;
}
.lstc ul li .itemad
{
    font-size: 6pt;
    padding-left: 3px;
    position: relative;
    float:right;
    top: -20px;
    display:inline;
    *top:-17px;
    vertical-align :top;
}
.fm_dd a.fm_dd_arrow
{
    padding-left: 3px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    outline: none;
    position: relative;
    overflow:hidden;
}
.fm_dd a.fm_dd_arrow span, a.fm_dd_arrow span:link, a.fm_dd_arrow span:visited
{
    width: 19px;
    height: 22px;
    right: 0px;
    top: 0px;
    background: url(images/grayicons.png) no-repeat -62px -32px;
    outline: none;
    position: absolute;
}
a.fm_dd_arrow label
{
    white-space:nowrap;
}
.fm_dd a.fm_dd_arrow span:hover, a.fm_dd_arrow span:active
{
    width: 19px;
    height: 22px;
    right: 0px;
    top: 0px;
    background: url(images/grayicons.png) no-repeat -86px -32px;
    outline: none;
}

/*grid menu bar*/
.buttondivtopBorder,div#tipMsg,div.tipmsg
{
    height: 20px;
    overflow: hidden;
    margin:0;
}
div.tipmsg
{
    border-bottom: none;
}
.buttondiv, #pageLabel, .pageZone
{
    height: 35px;
    background: url(images/btndiv_bg.gif) repeat-x scroll 0 1px;
    clear: both;
    border: 1px solid #d7d7d7;
    padding-top: 1px;
}
ul.buttondiv
{
    clear: both;
    border-left:0 none;
    border-right:0 none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d7d7d7;
}
.buttondivbottomBorder
{
    height: 1px;
    line-height: 1px;
    font-size: 0px;
    background: #fff;
    overflow: hidden;
    clear: both;
}
.buttondiv ul li .btnlabel {
    padding: 0 6px 0 10px; 
    line-height: 22px
}
.main,#pswebbtm
{
    font-size:12px;
    margin: 0;
    padding:0px;
    height:auto;
    border-top-style:none;
}
.topzone
{
    height:134px;
    background-image:url("images/topbg.png");
    margin:0;
    padding:0;
    border:none 0 white;
}
.topzone .z1 {
    height: 96px;
}
.topzone .z1 .logo
{ 
    display: inline-block;
    height: 60px;
    margin-left: 1px;
    margin-top: 10px;
    width: 326px;
    color:#E6E6E6;
    font-weight:bold;
    font-size:2em;
    background: transparent url("images/logo.png") no-repeat
}
.topzone .z1 .btn
{
    border: 1px solid white;
    display: inline-block;
    float: right;
    height: 16px;
    margin: 12px 0;
    padding: 2px 8px;
    position: relative;
    text-align: center;
    width: auto;
    color:#eee;
    border:solid 1px #2b2b2b;
    border-right-color:#696969;
    border-bottom-color:#696969;
}
.topzone .z1 .btn a
{
    color: #fff;
    text-decoration: none;
    outline: none;
    -moz-outline: none;
}
.topzone .z2
{
    height:38px; 
}
.topzone .z2 ul
{
    padding:0; 
    margin:0; 
    height:100%; 
    position:static; 
    display:block;
}
.topzone .z2 ul li
{
    height:100%;
    margin:0px;
    padding:0 15px;
}
.topzone .z2 ul li a {
    color: #fff;
    line-height: 36px;
    font-weight:bold;
}
.content
{
    border:none 0 white;
    margin:0px;
    width: auto;
    padding:8px 15px;
    min-height:600px;
}
.buttondiv li .innerDiv
{
    display: inline-block;
    height: 25px;
    clear: both;
    padding: 0 3px;
    margin:0;
}
.buttondiv .btnli .innerDiv a
{
    display: inline-block;
    padding-right: 18px;
    background: url("../img/btn_bg.gif") no-repeat right -18px;
    font: 10px Verdana;
    height: 18px;
    line-height: 18px;
}
.buttondiv li span {
   line-height:22px;
}
#downIco, .downIco_no
{
    display: inline-block;
    width: 13px;
    height: 20px;
    background: url("../img/ico_sprite.gif") no-repeat scroll 98% -63px;
    vertical-align: middle;
    margin-left: 0px;
    margin-top: 2px;
}
.downIco_no_white
{
    background: url("../img/ico_sprite.gif") no-repeat scroll 98% -1522px;
}
.downIco_ho
{
    background: url("../img/ico_sprite.gif") no-repeat scroll 98% -280px;
}
#action,.menuli
{
    border-right: 1px solid #D1D1D1;
    position: relative;
    font: 0.8em;
    float: left;
    height: 25px;
}
.buttondiv .btnli
{
    float: left;
    height:25px;
}
.lfspln
{
    border-left: 1px solid #FFFFFF;
}
.rgspln
{
    border-right: 1px solid #D1D1D1;
    padding-right:5px;
}
.buttondiv .btnli .innerDiv
{
    background: url("../img/btn_bg.gif") no-repeat scroll left 0 transparent;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    margin-left: 12px;
    margin-top: 2px;
    padding-left: 18px;
    padding-right: 0;
}
.buttondiv .btnli .hoverDiv
{
    background: url("../img/btn_bg.gif") no-repeat left -36px;
}
.buttondiv .btnli .hoverDiv a
{
    background: url(../img/btn_bg.gif) no-repeat right -54px;
}
/*for page Label*/
#pageLabel, .pageZone
{
    clear: both;
    cursor:default;
    text-align: center;
}
#pageLabel span, .pageZone span
{
    display: inline-block;
    height: 20px;
    font-size: 12px;
    padding-top: 2px;
}
.pageLabel_totalRow
{
    float: left;
    line-height: 20px;
    margin-left: 8px;
}
.pageLabel_totalRow, .pageLabel_selectPage {
    line-height:26px;
}
.pageLabel_pageNumber {
    margin-top:2px;
    float: right;
}
#pageLabel span.pageLabel_totalRowText, #pageLabel span.pageLabel_totalPageText, span.pageLabel_totalRowText,span.pageLabel_totalPageText
{
    display: inline;
}
.pageZone .pageLabel_selectPage
{
}
.pageLabel_selectPage span
{
      *position:relative;
      *top:-1px;
}
#currentPage,.currentPage
{
    width: 30px;
    height: 13px;
    border: 1px solid #ccc;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-bottom:1px;
    text-align: center;
}
#pageNumber,.pageNumber
{
    margin-right: 10px;
}
#pageLabel a,.pageZone a
{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2px 4px;
    margin-left: 1px;
    color: #000;
    text-decoration: none;
    outline: none;
    -moz-outline: none;
}
.pageNumber a {
}
.pageNumber a.selectedPage
{
    background: #c9e6f5;
    cursor:default;
}
#pageNumber a.disablePage,.pageNumber a.disablePage
{
    color: #ccc;
    cursor:default;
}
#goPage, .goPage
{
    vertical-align: middle;
}

#tabs
{
    text-align: left;
    width: auto;
}
.pstabbox
{
    position: relative;
    overflow: hidden;
    height: 26px;
    width: auto;
    text-align: left;
}
.pstab
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.pstabbox .tabbtmline
{
    border-bottom: solid 1px #ccc;
    width: 100%;
    height: 25px;
}
.pstab li
{
    float: left;
    display: block;
    cursor: pointer;
    width: auto;
    text-align: center;
    line-height: 24px;
    height: 24px;
    border: 1px solid #ccc;
    margin-right: -1px;
    padding:0 10px;
}
.pstab li a
{
    text-decoration: none;
    outline: none;
    -moz-outline: none;
    color: #666;
}
.pstab li.hover
{
    background: white;
    border-bottom:none 0 white;
    font-weight: bold;
    height: 25px;
}
.tabcontent
{
    clear: both;
    margin-top: -1px;
    border-top: 1px solid #ccc;
    height: auto;
    width: 100%;
    display: inline-block;
    padding-top: 5px;
}

.dgtablyt
{
    border-collapse: collapse;
    border: solid 1px #ccc;
    width: 100%;
    border-left-style: none;
    border-right-style: none;
    border-top-style:none;
}
.headdiv {
    background: url("images/btndiv_bg.gif") repeat-x scroll 0 1px rgba(0, 0, 0, 0);
    background-color:#ccc;
}
.dgtablyt .head {
    height:30px;
}
.dgtablyt .checkbox {
}
.dgtablyt .checkbox input {
    margin-left:2px;
}
.dgtablyt .hd
{
    font-weight: bold;
}
.dgtablyt tr
{
    vertical-align: middle;
    height:25px;
    *height:24px;
}
.dgtablyt td
{
    border: solid 0px #ccc;
    padding-bottom: 1px;
    border-bottom-width:1px;
}
.dgtablyt td input,.dgtablyt td label
{
    vertical-align:middle;
}
.dgtablyt td label
{
    padding-top:1px;
    padding-left:2px;
}
.dgtablyt .oddrow {
    background-color: #F7F7F7;
}
.radst
{
    width:20px;
    height:20px;
}
.pstbc
{
    border:none;
    overflow:auto;
    border-top: solid 1px #ccc;
}
.psrow
{
    display: inline;
    float: left;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    *padding-top:1px;
}
.pscell
{
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width:100%;
    
}
.bold
{
    font-weight:bold;
}
.mb6
{
    margin-bottom:6px;
}
.filea
{
    background-image:url("../img/schbtn.gif");
    height:24px; 
    display:inline-block; 
    width:24px; 
    overflow: hidden;
    position: relative;
    *position:static;
    *margin-top:1px;
}
.filea .file
{
    filter: alpha(opacity=0);
    opacity:0; 
    cursor:pointer; 
    font-size:25px;
    border:none 0 white;
    margin-left:-320px;
}
.reqflds
{
    vertical-align:top;
    float:left
}
.border
{
    border: solid 1px #ccc;
}
.schbtn
{
    width:24px;
    height:24px;
    vertical-align:top;
    background-image:url(../img/schbtn.gif);
    border: solid 0 #fff;
    background-color:#ccc;
    margin-left: 2px;
}
.pscellspan
{
   display: inline-block;
   margin-top: 6px;
   overflow: hidden;
   white-space: nowrap;
}
.adico,.deico,div.lstc ul li .adico,div.lstc ul li .deico,.ddlchdc
{
   padding:0;
   margin:0;
   padding-left:12px;
}
.adico
{
    background: url("../img/adf.gif") no-repeat scroll left center transparent;
}
.deico
{
    background: url("../img/de.gif") no-repeat scroll left center transparent;
}
.ddlchdc
{
    width:100%;
}
#grid
{
     min-height:515px;
}
a.close
{
    margin:0px;
    display:inline-block;
    *vertical-align:top;
    cursor:pointer;
	font-size:8px;
	line-height:2px;
}
a.close span, a.close span:link, a.close span:visited
{
    background-attachment: scroll;
    background-image: url("images/x.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 8px;
    width: 9px;
}
a.close span:hover, a.close span:active
{
  background-position: 0 -9px;
}
.tips
{
    background-color: rgb(226,241,255);
    border:solid 1px rgb(193,219,232);
    padding-left:0px;
    width:auto;
    height:18px;
    padding-top:1px;
    white-space: nowrap;
    padding-right:2px;
    color: #4C81B1;
}
.tips div
{
    overflow:hidden;
}
.ellipsis
{
    overflow:hidden;
    white-space:nowrap; 
    -o-text-overflow: ellipsis;
    text-overflow:ellipsis; 
}
.pbwl 
{
    width:auto;
    font-size:12px;
}
.refresh, input[type="button"].refresh
{
    display:inline-block;
    background:url(../img/ui-icons_696b6d_256x240.png) repeat-x -65px -80px;
    width:15px;
    height:15px;
    margin-left: 50px; 
    vertical-align: middle;
    cursor:pointer;
    border:0;
}
.anav,#navAddr
{
    color: rgb(68,121,171);
}
.shtxtbtn{
    background: url("../img/mglass.png") no-repeat scroll 0 0 transparent;
    border: 0 solid #FFFFFF;
    height: 11px;
    left: -16px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 11px;
    z-index: 999;
    cursor:pointer;
    *top:-4px;
}
.shtip
{
    background-color: Transparent; 
    position: absolute; 
    display: inline-block; 
    vertical-align: middle; 
    padding-top: 6px; 
    padding-left: 6px; 
    color:#ccc
}
.highlight { color: black; font-weight:bold; }
.layout{zoom:1;display:inline-block;}
.addIcon 
{
    background: transparent url("../img/bg3.png") no-repeat scroll 10px -86px;
    width:22px;
}
.subIcon
{
   background: transparent url("../img/bg31.png") no-repeat scroll 10px -158px;
   width:22px;
   height:14px;
   display:inline-block;
}
.commentIcon
{
   background: transparent url("../img/bg31.png") no-repeat scroll 10px -22px;
   width:22px;
   height:14px;
   display:inline-block;
}
.waitIcon
{
    background: url("../img/ui-anim_basic_16x16.gif") no-repeat scroll right center #FFFFFF;
}
.ratingstar
{
    background: url("../img/report_nav_sprite.gif") no-repeat scroll left center transparent;
    display: inline-block;
    border-left: 2px solid #666666;
    height: 20px;
    margin-bottom: -3px;
    margin-left: 5px;
    
}
.rating1star {
    background-position: 12px -307px;
    width: 110px;
}
.rating2star {
    background-position: 12px -345px;
    width: 110px;
}
.rating3star {
    background-position: 12px -383px;
    width: 110px;
}
.rating4star {
    background-position: 12px -421px;
    width: 110px;
}
.rating5star {
    background-position: 12px -459px;
    width: 110px;
}
.rating0star {
    background: url("../img/0stars.gif") no-repeat scroll left center transparent;
    width: 110px;
    background-position: 5px 0;
}
.whitecolor
{
    background-color:White;
}
.itemadhover
{
    background-color: #C3D0E0;
}
.stdbtn {
    padding:1px 8px;
    cursor: default;
    text-align: center;
    background: url("../img/stdbtnbg.gif") repeat-x scroll 0 -38px transparent;
    cursor:pointer;
    line-height: 12px;
    height:18px;
}
.stdbtn:hover {
    background: url("../img/stdbtnbg.gif") repeat-x scroll 0 -7px transparent;
}
input[type="button"].stdbtnclick {
    border: 1px solid #777;
}
.btnli {
    padding-left:15px;
}
.btnli .stdbtn {
    margin-top:3px;
}
input[type="button"] {
    border: 1px solid rgb(195,195,195);
    border-radius: 10px;
    width: auto;
}
.stdbtn {
     min-width: 55px;
}
.gdtabtr {
}
.gdtabtr:hover {
    background-color:rgb(201,230,245);
}
input[type="checkbox"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="radio"]::-moz-focus-inner {
	border: none;
	padding: 0;
}
.topzone .userinfo {
    width: auto;
    padding-top: 2px;
    color: #fff;
    font-size: 7pt;
    float: right;
    margin: 14px 10px;
}
.iconpdf, .iconxps, .iconppt, .iconjpg, .iconjpeg, .iconxls, .iconxlsx, .iconfile, .icondoc, .icondocx, .icongif, .icontiff, .iconpng, .iconmail, .iconmail_inactive {
	line-height: 16px;
	margin: 0 0 0 3px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/filetypeicons.png");
	background-color: transparent;
	background-repeat: repeat-x;
	background-position: -99px 0;
}
.iconpdf {
     background-position:0 0;
}
.iconxps {
    background-position:-17px 0;
}
.iconppt {
    background-position:-33px 0;
}
.iconxls,.iconxlsx {
    background-position:-50px 0;
}
.iconjpg,.iconjpeg,.icongif,.icontiff,.iconpng {
    background-position:-66px 0;
}
.icondoc,.icondocx {
    background-position:-82px 0;
}
.iconmail,.iconmail_inactive {
	background-image: url("../img/email_icons.png");
	background-position:0 0;
	margin-left: 8px;
}
.iconmail:hover, .iconmail_inactive {
	background-position:0 -15px;
}
.sugg {
	position: absolute;
	z-index: 99999999;
	border: solid 1px #aaa;
	min-height: 200px;
	min-width: 200px;
	display:none;
	background-color:#fff;
	border-top-width:0;
	height:300px;
	overflow:auto;
}
.embedlist {
	display:block;
	position:relative;
	background-color:#fff;
}
.sugg ul,.embedlist ul{
	 cursor:pointer;
	 -webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */
	/* Currently not supported in Opera but will be soon */
	-o-user-select: none;
	user-select: none;
}
.sugg ul li,.embedlist ul li{
	padding-bottom:1px;
	font-size:8pt;
	border:1px solid white;
}
.sugg ul li div,.embedlist ul li div{
	padding-top:2px;
	line-height: 16px;
}
.sugg ul li span,.embedlist ul li span{
	margin-right:1px;
	margin-left: 1px;
}
.sugg .odditem,.embedlist .odditem {
	background-color: #eee;
	border-color:#eee;
}
.sugg ul li .desc,.embedlist ul li .desc,.sugg ul li .opts,.embedlist ul li .opts{
	display:inline-block;
	font-size:7pt;
}
.sugg ul li .c1,.embedlist ul li .c1 {
	color: #888;
}
.sugg ul li .c2,.embedlist ul li .c2 {
	color: #888;
}
.sugg ul li:hover,.embedlist ul li:hover {
	border-color: rgb(201,230,245);
	background-color: rgb(201,230,245);
}
.sugg ul .sel,.embedlist ul .sel,.sugg ul .sel:hover,.embedlist ul .sel:hover {
	border-color: rgb(68,121,171);
	background-color: rgb(163,207,240);
}
.sugg ul .hidetopborder,.embedlist ul .hidetopborder {
	border-top-color:rgb(163,207,240);
}
.sugg ul .hidebottomborder, .embedlist ul .hidebottomborder {
	border-bottom-color: rgb(163,207,240);
}
.sugg ul .hidetopborder:hover,.embedlist ul .hidetopborder:hover{
	border-top-color: rgb(163,207,240);
}
.sugg ul .hidebottomborder:hover,.embedlist ul .hidebottomborder:hover {
	border-bottom-color: rgb(163,207,240);
}
.sugg .unlocked, .sugg .locked {
	outline: medium none;
	height: 19px;
	position: fixed;
	width: 19px;
	cursor: pointer;
	border: solid 1px #bbb;
}
.sugg .unlocked {
	background: url("../img/ui-icons_696b6d_256x240.png") no-repeat scroll -127px -142px #fff;
}
.sugg .locked {
	background: url("../img/ui-icons_696b6d_256x240.png") no-repeat scroll -143px -142px #ddd;
}
.iconzone {
	line-height:24px;
}
.iconzone .stretched, .iconzone .shrink {
	display: inline-block;
	width: 16px;
	height: 16px;
	position:relative;
	top:1px;
	cursor: pointer;
	margin-left:2px;
	*display:inline;
	*zoom:1;
}
.iconzone .stretched  {
	background: url("../img/ui-icons_696b6d_256x240.png") no-repeat scroll -63px -190px transparent;
}
.iconzone .shrink {
	background: url("../img/ui-icons_696b6d_256x240.png") no-repeat scroll -95px -190px transparent;
}
.addbtn,.rembtn
{
    width:24px;
    height:24px;
    vertical-align:top;
    border: solid 0 #fff;
    margin-left: 2px;
	cursor:pointer;
}
.addbtn {
	background: url(../img/arbtn.png) no-repeat scroll 0 0 transparent;
}
.rembtn {
	background: url(../img/arbtn.png) no-repeat scroll -28px 0 transparent;
}
.addbtn:hover {
	background: url(../img/arbtn.png) no-repeat scroll 0 -25px transparent;
}
.rembtn:hover {
	background: url(../img/arbtn.png) no-repeat scroll -28px -25px transparent;
}
body, input, select, button {
    font-family: verdana;
}
body {
    color: #000000;
    font-size: 12px;
    line-height: 166.6%;
    text-align: left;
}
body, h1, h2, h3, ul, li, form, p, img {
        border: 0 none;
        margin: 0;
        padding: 0;
}

body {
    color: #000;
    font: 12px Verdana,Arial,Helvetica,sans-serif;
    height: auto;
    margin: 0 auto;
}
.footer {
    background-color: #EFEFEF;
    margin-top:20px;
}
.footer span {
    padding:0 20px;
}
.footer div{
    background:url(images/bot.jpg) no-repeat #EFEFEF; 
    margin:0 auto;
    text-align:right; 
    line-height:35px; 
    color:#D2D2D2;
}
a, img {
    border: 0 none;
}
a, label, *:focus {
    outline: 0 none;
}
a, a:hover {
    text-decoration: none;
}
