﻿.menu a
{
    color: #292929;
    text-decoration: none;
}
.menu ul
{
    height: 1.5em;
    margin: 1em auto 0;
    width: auto;
}
.menu li
{
    display: inline;
    float: left;
    line-height: 1.5em;
    padding: 0 .5em 0;
    position: relative;
    text-align: center;
}
.menu li:hover
{
    background-color: #dddddd;
}
.mulc
{
    display: none;
    position: absolute;
    z-index:99999;
    top:0px;
    left:0px;
    border:solid 1px #aaa;
    max-height:900px;
    overflow:auto;
}
.mulc .mul
{
    background-color: #dddddd;
    left: 0;
    margin: 0;
    max-width:250px;
    min-width:80px;
    width:auto;
    white-space: nowrap;
}

.mulc .mul li
{
    border-bottom: 1px solid #cccccc;
    border-right: none;
    margin: 1px;
    padding: 1px;
    text-align: left;
    width:auto;
}
.mulc .mul li a
{
    padding: 0 15px 0 5px;
    text-decoration: none;
    display:block;
    font-size: 11px;
    /*color: #333;*/
    height: 18px;
    line-height: 18px;
    display:block;
}
.mulc .mul li:hover,.mulc .mul li:hover a,.mulc .mul li a:hover
{
    padding-left: 3px;
    background-color: #faa41a;
}
#menu,.menuc
{
    display: inline-block;
    vertical-align: middle;
    margin:0;
}
