﻿.suc_kuang {
    background: none repeat scroll 0 0 #F9F9F9;
    width:894px;
}
        
.hei_513 {
    height: auto;
    min-height: 513px;
    width:680px;
    padding-top:4px;
}
.hei_513 {
    border-color: #DADADA #DADADA;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    height: auto;
}
.h4_suc {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px 30px;
    padding-top: 20px;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix {
}
dl {
    margin-bottom: 20px;
}
.dt_l {
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    padding-right: 10px;
    text-align: right;
    width: 170px;
}
.dt_l, .dd_r {
    float: left;
    height: 38px;
    margin-bottom: 12px;
    vertical-align: middle;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.dd_r {
    width: 500px;
}
.dt_l, .dd_r {
    float: left;
    height: 38px;
    margin-bottom: 12px;
    vertical-align: middle;
}
.clearfix {
}

.dd_r input {
    display: block;
    float: left;
}
.val_m {
    vertical-align: middle;
}
.input_kuang {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #E3E3E3 #E3E3E3;
    border-image: none;
    border-right: 1px solid #E3E3E3;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    padding: 8px;
    width: 252px;
}
.sub_bg, .input_kuang, .input_b, .sub_login, .mt_login {
    border-radius: 3px;
}

.newerror .error_tip, .nosame .no_tips, .error .error_tip, .empty .empty_tip, .repeat .repeat_tip, .succ .succ_tips {
    display: block;
}
.dd_r span {
    float: left;
}
.check_tips {
    margin-top: 11px;
}
.check_tips {
    background: url("images/icosfories.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display:none;
    height: 16px;       
    line-height: 16px;
    margin-left: 10px;
    padding-left: 20px;
    vertical-align: middle;
}
.succ_tips {
    background: url("images/icos.png") no-repeat scroll 0 -16px rgba(0, 0, 0, 0);
    display: none;
    height: 16px;
    line-height: 16px;
    margin-left: 10px;
    vertical-align: middle;
    width: 16px;
}
.tips_1, .tips_2, .tips_3 {
    display: none;
}
.regbtn {
    box-shadow: 0 2px 5px rgba(0, 28, 88, 0.3);
    color: #FFFFFF;
    background-color: rgb(0, 0, 255);
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 38px;
    line-height: 38px;
    outline: 0 none;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
    width: 160px;
    margin-left:70px;
}
.reging {
    background-color: #bbb;
}