.Accept{background-image:url(../icons/accept.png)!important;}
.Add{background-image:url(../icons/add.png)!important;}
.Application{background-image:url(../icons/application.png)!important;}
.Applicationformedit{background-image:url(../icons/application_form_edit.png)!important;}
.Arrowleft{background-image:url(../icons/arrow_left.png)!important;}
.Arrowright{background-image:url(../icons/arrow_right.png)!important;}
.Borderall{background-image:url(../icons/border_all.png)!important;}
.Brick{background-image:url(../icons/brick.png)!important;}
.Chartbar{background-image:url(../icons/chart_bar.png)!important;}
.Clock{background-image:url(../icons/clock.png)!important;}
.Comment{background-image:url(../icons/comment.png)!important;}
.Comments{background-image:url(../icons/comments.png)!important;}
.Commentsadd{background-image:url(../icons/comments_add.png)!important;}
.Commentadd{background-image:url(../icons/comment_add.png)!important;}
.Controlpowerblue{background-image:url(../icons/control_power_blue.png)!important;}
.Cross{background-image:url(../icons/cross.png)!important;}
.Date{background-image:url(../icons/date.png)!important;}
.Delete{background-image:url(../icons/delete.png)!important;}
.Eye{background-image:url(../icons/eye.png)!important;}
.Flagcn{background-image:url(../icons/flag_cn.png)!important;}
.Flagus{background-image:url(../icons/flag_us.png)!important;}
.Link{background-image:url(../icons/link.png)!important;}
.Linkadd{background-image:url(../icons/link_add.png)!important;}
.Newblue{background-image:url(../icons/new_blue.png)!important;}
.Page{background-image:url(../icons/page.png)!important;}
.Pageadd{background-image:url(../icons/page_add.png)!important;}
.Shading{background-image:url(../icons/shading.png)!important;}
.Star{background-image:url(../icons/star.png)!important;}
.Tabgreen{background-image:url(../icons/tab_green.png)!important;}
.Tick{background-image:url(../icons/tick.png)!important;}
.Time{background-image:url(../icons/time.png)!important;}
.User{background-image:url(../icons/user.png)!important;}
.Useradd{background-image:url(../icons/user_add.png)!important;}
.Usercross{background-image:url(../icons/user_cross.png)!important;}
.Userdelete{background-image:url(../icons/user_delete.png)!important;}
.Useredit{background-image:url(../icons/user_edit.png)!important;}
.Userstar{background-image:url(../icons/user_star.png)!important;}
.Weathercloudyrain{background-image:url(../icons/weather_cloudy_rain.png)!important;}
.World{background-image:url(../icons/world.png)!important;}
.Wrench{background-image:url(../icons/wrench.png)!important;}
.Zoom{background-image:url(../icons/zoom.png)!important;}
.loginbackground{background-image:url(background.jpg)!important;}
.headerimage{background-image:url(header.png);
        background-repeat: no-repeat;
        background-position: center center;}
.x-grid-record-blue{color:#43C417;}
.x-grid-record-black{color:#BDC315;}
.x-grid-record-yellow{color:#C85C0D;}
.x-grid-record-red{color:#FB3124;}

.x-monthpicker-body{width:180px!important;}
.x-monthpicker-months{width:88px!important;}